<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/index.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/blocked-modal.css') }}">
    {% endblock %}
    <title></title>
</head>
<body>
    <div class="header-bg">
        <header class="header header__lead-exchange-page">
            <div class="header__content">
                <div class="header__logo">
                    {% if is_granted('ROLE_WEBMASTER') %}
                        <img src="{{ asset('bundles/app/v2/img/logo.png') }}">
                    {% else %}
                        <img src="{{ asset('bundles/app/img/logo.png') }}">
                    {% endif %}
                </div>
                <div class="header__balance-box">
                    <div class="header__text text-white" style="margin-bottom: 6px;">Баланс: {{ app.user.humanbalance() }} руб.</div>
                    <div class="header__text text-white">Холд: {{ balance_hold(app.user)|money_format }}</div>
                </div>
                {% include '@App/top_menu.html.twig' %}
            </div>
        </header>
    </div>
    <div class="container arbitration--mod">
        <main class="main-block">
            <div class="sidebar">
                {% include '@App/menu.html.twig' %}
            </div>
            {% block content %}{% endblock %}
        </main>
    </div>
    {{ render(controller('AppBundle\\Controller\\TradeController::showResultModal')) }}
    {% block javascripts %}
        {%- if app.environment == 'prod' -%}
            <script src="{{ asset('bundles/app/js/lib/jquery-3.4.1.min.js') }}"></script>
        {%- else -%}
            <script src="{{ asset('bundles/app/js/lib/jquery-3.4.1.js') }}"></script>
        {%- endif -%}
        <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    {% endblock %}
</body>
</html>