<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/index.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/blocked-modal.css') }}">
    {% endblock %}
    <title>Edward лидогенерация</title>
    {% include '@App/google_tag_manager_head.html.twig' %}
    {%- if app.environment == 'prod' -%}
        <script charset="UTF-8" src="//cdn.sendpulse.com/js/push/22ce0a589cd420aab9f2fde235baa123_1.js" async></script>
    {%- endif -%}
</head>
<body>
    <div class="header-bg">
        <header class="header header__lead-exchange-page">
            <div class="header__content">
                <div class="header__logo">
                    {% if is_granted('ROLE_WEBMASTER') %}
                        <a href="{{ path('app_dashboard') }}" style="display:inline-block;vertical-align:middle;">
                            <img src="{{ asset('bundles/app/v2/img/logo.png') }}">
                        </a>
                    {% else %}
                        <a href="{{ path('app_room_list') }}" style="display:inline-block;vertical-align:middle;">
                            <img src="{{ asset('bundles/app/img/logo.png') }}">
                        </a>
                    {% endif %}
                    <div style="display:inline-block;vertical-align:middle;margin-left:20px;font-size:14px;">Closed Beta Testing</div>
                </div>
                <div class="header__balance-box">
                    <div class="header__text text-white" style="margin-bottom: 6px;">Баланс: {{ app.user.humanbalance() }} руб.</div>
                    <div class="header__text text-white">Холд: {{ balance_hold(app.user)|money_format }}</div>
                </div>
                {% include '@App/top_menu.html.twig' %}
            </div>
        </header>
    </div>
    <div class="container arbitration--mod">
        <main class="main-block">
            <div class="sidebar">
                {% include '@App/menu.html.twig' %}
            </div>
            {% block content %}{% endblock %}
        </main>
    </div>
    {{ render(controller('AppBundle\\Controller\\TradeController::showResultModal')) }}
    {% block javascripts %}
        {%- if app.environment == 'prod' -%}
            <script src="{{ asset('bundles/app/js/lib/jquery-3.4.1.min.js') }}"></script>
            {%- if jivosite_enabled -%}
                <script src="//code-ru1.jivosite.com/widget.js" data-jv-id="YinHI3gAhp" async></script>
            {%- endif -%}
        {%- else -%}
            <script src="{{ asset('bundles/app/js/lib/jquery-3.4.1.js') }}"></script>
        {%- endif -%}
        <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    {% endblock %}
    {% include '@App/google_tag_manager_body.html.twig' %}
</body>
</html>