<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/index.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/blocked-modal.css') }}">
    {% endblock %}
    <title></title>
</head>
<body>
    <div class="header-bg">
        <header class="header header__lead-exchange-page">
            <div class="header__content">
                <div class="header__logo"><img src="{{ asset('bundles/app/img/logo.png') }}"></div>
                {#<div class="header__text text-white text-notify">#}
                    {#Уведомления &nbsp<div class="rate position-center" id="notify"><span class="rate__span">10</span></div>#}
                    {#<div class="notifications">#}
                        {#<button class="dropdown header__dropdown"><span class="span-flow-down"></span></button>#}
                        {#<div class="notifications__list">#}
                            {#<div class="notifications__item attention">#}
                                {#<div class="notifications__column">#}
                                    {#<span class="span-attention">ВАЖНОЕ</span><span class="span-date">10 февраля</span>#}
                                    {#<div class="notifications__text-box">#}
                                        {#<span class="notifications__text">На Вашем аккаунте в Edward Lead закончились деньги. Не забудьте пополнить баланс</span>#}
                                        {#<div class="notifications__img"><span class="icon-checkmark"></span></div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="notifications__item">#}
                                {#<div class="notifications__column">#}
                                    {#<span class="span-attention span-mod-20">НОВОСТИ</span>#}
                                    {#<span class="span-date">10 февраля</span>#}
                                    {#<div class="notifications__text-box">#}
                                        {#<span class="notifications__text">На Вашем аккаунте в Edward Lead закончились деньги. Не забудьте пополнить баланс</span>#}
                                        {#<div class="notifications__img"><span class="icon-circle"></span></div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="notifications__item">#}
                                {#<div class="notifications__column">#}
                                    {#<span class="span-attention span-mod-20">НОВОСТИ</span><span class="span-date">10#}
                                  {#февраля</span>#}
                                    {#<div class="notifications__text-box">#}
                                  {#<span class="notifications__text">На Вашем аккаунте в Edward Lead закончились деньги. Не#}
                                     {#забудьте пополнить баланс</span>#}
                                        {#<div class="notifications__img"><span class="icon-circle"></span>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="notifications__item">#}
                                {#<div class="notifications__column">#}
                                    {#<span class="span-attention span-mod-20">НОВОСТИ</span><span class="span-date">10 февраля</span>#}
                                    {#<div class="notifications__text-box">#}
                                        {#<span class="notifications__text">На Вашем аккаунте в Edward Lead закончились деньги. Не забудьте пополнить баланс</span>#}
                                        {#<div class="notifications__img"><span class="icon-circle"></span></div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <div class="header__balance-box">
                    <span class="header__text text-white" id="balance">Баланс: {{ app.user.humanbalance() }} руб.</span>
                </div>
                <div class="logo">
                    {% spaceless %}
                    <span class="icon-logo-top">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                    </span>
                    {% endspaceless %}
                    <div class="profile">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('sonata_admin_dashboard') }}" class="profile__link">Админ панель</a>
                        {% endif %}
                        <a href="#" class="profile__link">Кабинет компании</a>
                        <a href="{{ path('app_profile') }}" class="profile__link">Мой профиль</a>
                        <a href="{{ path('app_deposit') }}" class="profile__link">Оплата</a>
                        <a href="{{ path('app_logout') }}" class="profile__link">Выход</a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container arbitration--mod">
        <main class="main-block">
            <div class="sidebar">
                {% include '@App/menu.html.twig' %}
            </div>
            {% block content %}{% endblock %}
        </main>
    </div>
    {{ render(controller('AppBundle\\Controller\\LeadController::unsetReserveModal')) }}
    {% block javascripts %}
        {%- if app.environment == 'prod' -%}
            <script src="{{ asset('bundles/app/js/lib/jquery-3.4.1.min.js') }}"></script>
        {%- else -%}
            <script src="{{ asset('bundles/app/js/lib/jquery-3.4.1.js') }}"></script>
        {%- endif -%}
        <script src="{{ asset('bundles/app/js/main.js') }}"></script>
        <script src="{{ asset('bundles/app/js/app.js') }}"></script>
    {% endblock %}
</body>
</html>