<ul class="sidebar__list accordion-menu">
    <li>
        <div class="sidebar__item">
            <i class="sprite-3 sprite-ico1"></i><a href="{{ path("app_exchange") }}" class="sidebar__link">Биржа лидов</a>
        </div>
    </li>
    <li>
        <div class="sidebar__item">
            <i class="sprite-3 sprite-ico1"></i><a href="{{ path("app_room_list") }}" class="sidebar__link">Комнаты</a>
        </div>
    </li>
    <li>
        <div class="sidebar__item">
            <i class="sprite-3 sprite-ico2"></i><a href="{{ path('app_leads_my') }}" class="sidebar__link">Мои лиды</a>
        </div>
    </li>
    <li>
        <div class="sidebar__item">
            <i class="sprite-3 sprite-ico3"></i><a href="{{ path('app_arbitration') }}" class="sidebar__link">Арбитраж / поддержка</a>
        </div>
    </li>
    <li>
        <div class="sidebar__item dropdownlink">
            <i class="sprite-3 sprite-ico4"></i><a href="#" class="sidebar__link">Биллинг</a>
        </div>
        <ul class="sidebar__sub-item-box submenuItems">
            <li class="sidebar__sub-item">
                <a href="{{ path('app_billing') }}" class="sidebar__link">Состояние счёта</a>
            </li>
            <li class="sidebar__sub-item">
                <a href="{{ path("app_billing_transactions_history") }}" class="sidebar__link">История операций</a>
            </li>
            <li class="sidebar__sub-item">
                <a href="{{ path('app_invoice_list') }}" class="sidebar__link">Счета</a>
            </li>
            <li class="sidebar__sub-item"><a href="#" class="sidebar__link">Акты</a></li>
        </ul>
    </li>
    <li>
        <div class="sidebar__item dropdownlink">
            <i class="sprite-3 sprite-ico5"></i><a href="#" class="sidebar__link">Реферальная программа</a>
        </div>
        <ul class="sidebar__sub-item-box submenuItems">
            <li class="sidebar__sub-item"><a href="#" class="sidebar__link">1</a></li>
            <li class="sidebar__sub-item"><a href="#" class="sidebar__link">2</a></li>
            <li class="sidebar__sub-item"><a href="#" class="sidebar__link">3</a></li>
        </ul>
    </li>
    <li>
        <div class="sidebar__item dropdownlink">
            <i class="sprite-3 sprite-ico6"></i><a href="#" class="sidebar__link">Интеграции</a>
        </div>
        <ul class="sidebar__sub-item-box submenuItems">
            <li class="sidebar__sub-item"><a href="#" class="sidebar__link">1</a></li>
            <li class="sidebar__sub-item"><a href="#" class="sidebar__link">2</a></li>
            <li class="sidebar__sub-item"><a href="#" class="sidebar__link">3</a></li>
        </ul>
    </li>
    <li>
        <div class="sidebar__item">
            <i class="sprite-3 sprite-ico7"></i><a href="{{ path('app_telephony_calls') }}" class="sidebar__link">Телефония</a>
        </div>
    </li>
    {% if app.user.company %}
        <li>
            <div class="sidebar__item dropdownlink">
                <i class="sprite-3 sprite-ico8"></i><a href="{{ path('app_updating_company', {'id': app.user.company.id}) }}" class="sidebar__link">Кабинет компании</a>
            </div>
        </li>
    {% endif %}
</ul>