{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{%- block field -%}
    {% for message in value %}
        <div>
            <p><span class="small">{{ message.createdAt|date_format }}</span> <b>{{ message.sender.username }}{% if message.sender.name is defined and message.sender.name is not empty %} ({{ message.sender.name }}){% endif %}</b> {{ message.body }}</p>
            {% for image in message.images %}
                <a target="_blank" href="{{ image.path|imagine_filter('preview_1280x1024') }}">
                    <img src="{{ image.path|imagine_filter('thumbnail_128x102') }}" style="max-width: 100%; height: auto;">
                </a>
            {% endfor %}
        </div>
        {% if not loop.last %}<hr>{% endif %}
        {% if object.typeAppeal is constant('TYPE_ARBITRATION', object) %}
            <a href="{{ admin.generateObjectUrl('reply', object) }}" class="btn btn-default icon-prev">Открыть диалог с покупателем</a>
        {% endif %}
    {% else %}
        <div class="col-xs-12">Сообщений нет!</div>
    {% endfor %}
{%- endblock -%}