{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {% include '@App/flash_messages.html.twig' %}
        <div class="lead__header mb-30">
            <h2 class="lead__title">Биржа лидов</h2>
            {%- if is_granted('ROLE_WEBMASTER') -%}
                <a class="lead__button" href="{{ path("app_exchange_create_lead") }}">Продать лида</a>
            {%- endif -%}
        </div>
        <h3 class="mb-10">Предложения</h3>
        <div id="lead-offers-grid" class="mb-30"></div>
        <h3 class="mb-10">Последнии сделки</h3>
        <div id="trade-history-grid"></div>
        {% include '@App/block_copyright.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/app/js/lib/underscore-min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/backbone-min.js') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/app/js/lib/underscore.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/backbone.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/app/js/lib/backgrid.js') }}"></script>
    <script src="{{ asset('bundles/app/js/exchange.js') }}"></script>
{% endblock %}