{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {%- if app.session.flashBag.has('success') -%}
            {% set flash_type = 'success' %}
            {% set flash_class = 'green' %}
        {%- elseif app.session.flashBag.has('error') -%}
            {% set flash_type = 'error' %}
            {% set flash_class = 'red' %}
        {%- endif -%}
        {%- if flash_type is defined -%}
            <div>
                {%- for message in app.session.flashBag.get(flash_type) -%}
                    <div class="text-{{ flash_class }}">{{ message }}</div>
                {%- endfor -%}
            </div>
        {%- endif -%}
        <div class="lead__header">
            <h2 class="lead__title">Биржа лидов</h2>
            <a class="lead__button" href="{{ path("app_exchange_create_lead") }}">Продать лида</a>
        </div>
        <div id="lead-grid"></div>
        <div class="block-copyright">
            © 2019 Edward - решения для бизнеса
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/app/js/lib/underscore-min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/backbone-min.js') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/app/js/lib/underscore.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/backbone.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/app/js/lib/backgrid.js') }}"></script>
    <script src="{{ asset('bundles/app/js/exchange.js') }}"></script>
{% endblock %}