{% extends '@App/layout.html.twig' %}

{% block content %}
    {% include '@App/flash_messages.html.twig' %}
    <div class="table_leads">
        <div class="table_leads_layout exposed_leads">
            <div class="exposed_leads_title">
                <h2>Мои лиды</h2>
            </div>
            <div class="table_leads_block">
                <table>
                    <tbody>
                    <!-- Лиды для веб-мастера -->
                    {% if leads is defined %}
                        <tr>
                            <th>Дата создания</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Город</th>
                            <th>Стоимость</th>
                            <th>Статус</th>
                            <th>&nbsp;</th>
                        </tr>
                        {% if leads|length %}
                            {% for lead in leads %}
                                <tr>
                                    <td>{{ lead.orderDate|date('d.m.Y') }}</td>
                                    <td>{{ lead.name }}</td>
                                    <td>{{ lead.phone }}</td>
                                    <td>{{ lead.city.name }}</td>
                                    <td>{{ lead.price }}</td>
                                    <td>
                                        {% if lead.status is constant('AppBundle\\Entity\\Lead::STATUS_BLOCKED') %}
                                            <span class="lead_arbitration">Арбитраж</span>
                                        {% elseif lead.status is constant('AppBundle\\Entity\\Lead::STATUS_RESERVED') %}
                                            <span class="lead_exchange">Проверка</span>
                                        {% elseif lead.status is constant('AppBundle\\Entity\\Lead::STATUS_SOLD') %}
                                            <span class="lead_sale">Успешно</span>
                                        {% else %}
                                            <span class="lead_active">Активен</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="table_link">
                                            <a href="{{ path('app_exchange_show_lead', {'id': lead.id}) }}" class="transition_link" target="_blank"></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">Еще нет созданных лидов.</td>
                            </tr>
                        {% endif %}

                    <!-- Лиды для -->
                    {% elseif trades is defined %}
                        <tr>
                            <th>Дата создания</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Город</th>
                            <th>Стоимость</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        {% if trades|length %}
                            {% for trade in trades %}
                                {% set lead = trade.lead %}
                                <tr>
                                    <td>{{ trade.createdAt|date('d.m.Y') }}</td>
                                    <td>{{ lead.name }}</td>
                                    <td>
                                        {% set show_number = false %}
                                        {% set current_call = null %}
                                        {% for call in calls %}
                                            {% if call.lead.id == lead.id and lead.status is constant('AppBundle\\Entity\\Lead::STATUS_SOLD') %}
                                                {% set show_number = true %}
                                                {% set current_call = call %}
                                            {% elseif call.lead.id == lead.id %}
                                                {% set current_call = call %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if show_number %}
                                            {{ lead.phone }}
                                        {% else %}
                                            номер скрыт
                                        {% endif %}
                                    </td>
                                    <td>{{ lead.city.name }}</td>
                                    <td>{{ trade.amount|money_format }}</td>
                                    <td>
                                        {% if lead.status is constant('AppBundle\\Entity\\Lead::STATUS_BLOCKED') %}
                                            <span class="lead_arbitration">Арбитраж</span>
                                        {% elseif lead.status is constant('AppBundle\\Entity\\Lead::STATUS_RESERVED') %}
                                            <span class="lead_exchange">Проверка</span>
                                        {% elseif lead.status is constant('AppBundle\\Entity\\Lead::STATUS_SOLD') %}
                                            <span class="lead_sale">Успешно</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="table_link">
                                            {# Тут я не знаю как сделать! #}
                                            {% if current_call is null %}
                                                <span class="phone_link"></span>
                                            {% else %}
                                                <span class="speaker"></span>
                                            {% endif %}
                                            <a href="{{ path('app_exchange_show_lead', {'id': lead.id}) }}" class="transition_link" target="_blank"></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">Ещё нет купленых лидов</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include '@App/block_copyright.html.twig' %}
    </div>
{% endblock %}