{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="office-settings u-w-100">
        <h3 class="office-settings__title">Лид #{{ lead.id }}</h3>
    {#{{ dump(lead) }}#}
        <div class="plain__text text-mod-5">Просмотрите карточку лида, если Вам он показался интересный, Вы можете его купить и получить его контактные данные. Мы продаём лида только одной организации.</div>
        <div class="info-block">
            <div class="info-block__list">
                <div class="info-block__item">
                    <div class="info-block__img">
                        <span class="icon-star-new span-mod-3 text-yellow"></span>
                    </div>
                    <div class="info-block__row-box">
                        <div class="info-block__row-item block-mod-6">
                            <div class="info-block__column-left">Имя лида:</div>
                            <div class="info-block__column-right">{{ lead.name }}</div>
                        </div>
                        <div class="info-block__row-item block-mod-6">
                            <div class="info-block__column-left">Телефон:</div>
                            <div class="info-block__column-right">{{ lead.phone|hidden_phone }}</div>
                        </div>
                        <div class="info-block__row-item block-mod-6">
                            <div class="info-block__column-left">Город:</div>
                            <div class="info-block__column-right">{{ lead.city.name }}</div>
                        </div>
                        <div class="info-block__row-item block-mod-6">
                            <div class="info-block__column-left">&nbsp;</div>
                            <div class="info-block__column-right">
                                <div class="info-block__first-call-box">
                                    <button class="btn btn-small btn-green">Сделать первый звонок</button>
                                    <span class="info-block__attention">Отображение номера будет доступно после Вашего первого звонка &nbsp; <a href="#" class="info-block__link">Правила платформы Edward</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>
            <div class="info-block__item">
                <div class="info-block__img"><span class="icon-star-new span-mod-3 {% if lead.channelName is empty or lead.orderDate is empty %}text-gray{% else %}text-yellow{% endif %}"></span>
                </div>
                <div class="info-block__row-box">
                    <div class="info-block__row-item">
                        <div class="info-block__column-left">Рекламный канал:</div>
                        <div class="info-block__column-right">{% if lead.channelName is empty %}Не указано{% else %}{{ lead.channelName }}{% endif %}</div>
                    </div>
                    <div class="info-block__row-item">
                        <div class="info-block__column-left">Дата поступления заявки:</div>
                        <div class="info-block__column-right">{% if lead.orderDate is empty %}Не указано{% else %}{{ lead.orderDate|date_format }}{% endif %}</div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>
            <div class="info-block__item">
                <div class="info-block__img"><span class="icon-star-new span-mod-3 {% if lead.decisionMaker is null or lead.madeMeasurement is null %}text-gray{% else %}text-yellow{% endif %}"></span>
                </div>
                <div class="info-block__row-box">
                    <div class="info-block__row-item">
                        <div class="info-block__column-left">Лицо принемающее решение?</div>
                        <div class="info-block__column-right">{% if lead.decisionMaker is null %}Не указано{% elseif lead.decisionMaker %}Да{% else %}Нет{% endif %}</div>

                    </div>
                    <div class="info-block__row-item">
                        <div class="info-block__column-left">Делали замер на адресе?</div>
                        <div class="info-block__column-right">{% if lead.madeMeasurement is null %}Не указано{% elseif lead.madeMeasurement %}Да{% else %}Нет{% endif %}</div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>
            <div class="info-block__item">
                <div class="info-block__img"><span class="icon-star-new span-mod-3 text-yellow"></span>
                </div>
                <div class="info-block__row-box">
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right block-mod-1">Оценка заинтересованость в покупке по 10 бальной шкале:</div>
                    </div>
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right">
                            <div class="star-box__list">
                                {% for ind in range(1,10) %}
                                    <div class="star-box__item">
                                        <span class="icon-star-new {% if lead.interestAssessment >= ind %}text-yellow{% else %}text-gray{% endif %} span-mod-7"> </span> <span class="span-mod-5">{{ ind }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>
            <div class="info-block__item">
                <div class="info-block__img"><span class="icon-star-new span-mod-3 {% if lead.description is empty %}text-gray{% else %}text-yellow{% endif %}"></span></div>
                <div class="info-block__row-box">
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right block-mod-1">Подробнее про лида <br> <span class="span-mod-22">(его приоритеты в покупке и прочую полезную информацию)</span></div>
                    </div>
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right text-mod-2">
                            {% if lead.description is empty %}Не указано{% else %}{{ lead.description }}{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>

            <div class="info-block__item">
                <div class="info-block__img"><span class="plain-text {% if lead.audioRecord is empty %}text-gray{% else %}text-yellow{% endif %} span-mod-6">gold</span></div>
                <div class="info-block__row-box block-mod-19">
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right block-mod-1">Запись разговора</div>
                    </div>
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right text-mod-2">
                            <div class="binded__item">
                                <button class="binded__button"><span class="icon-clip"></span></button>
                                <span class="binded__file span-mod-19">{% if lead.audioRecord is empty %}Запись отсутствует{% else %}Прослушать запись разговора{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-copyright">
            © 2019 Edward - решения для бизнеса
        </div>
    </div>
{% endblock %}