{% extends '@App/v2/layout.html.twig' %}

{% block _room_platformWarranty_entry_row %}
    <label class="wrapper">
        {{ label }}
        {{ block('radio_widget') }}
        <span class="checkmark"></span>
    </label>
{% endblock %}

{% block _room_timer_entry_row %}
    <label class="wrapper">
        {{ label }}
        {{ block('radio_widget') }}
        <span class="checkmark"></span>
    </label>
{% endblock %}

{% form_theme form _self %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12 content_box">
                <div class="content_title">
                    <div class="main_title">
                        <h1>Создать новую комнату</h1>
                    </div>
                </div>
                <div class="create_room">
                    <div class="form">
                        {{ form_start(form, {'attr': {'novalidate': true}}) }}
                            {% if form.vars.errors|length %}
                                {% for error in form.vars.errors %}
                                    <span class="text-error">{{ error.message }}</span>
                                {% endfor %}
                            {% endif %}
                            <div class="row">
                                <div class="col-xl-7 col-12">
                                    <div class="form_item">
                                        {{ form_label(form.name, 'Название комнаты') }}
                                        <span {% if form.name.vars.errors|length %}class="error"{% endif %}>
                                            {{ form_widget(form.name, {'attr': {'placeholder': 'Оконный рай'}}) }}
                                            {% if form.name.vars.errors|length %}
                                                <span class="text-error">{{ form.name.vars.errors[0].message }}</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="form_item">
                                        {{ form_label(form.sphere, 'Сфера деятельности') }}
                                        <span {% if form.sphere.vars.errors|length %}class="error"{% endif %}>
                                            {{ form_widget(form.sphere, {'attr': {'class': 'activity', 'placeholder': 'пример: Пластиковые окна'}}) }}
                                            {% if form.sphere.vars.errors|length %}
                                                <span class="text-error">{{ form.sphere.vars.errors[0].message }}</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="form_item">
                                        <label for="{{ form.leadCriteria.vars.id }}">
                                            Индивидуальные правила целевого лида<br>
                                            <small>Основываясь на этих правилах, служба поддержки будет выносить решение о возврате средств если он им не соответствует</small>
                                        </label>
                                        <span class="message {% if form.leadCriteria.vars.errors|length %}error{% endif %}">
                                            {{ form_widget(form.leadCriteria, {'attr': {
                                                'placeholder':'1. Регион работы – Москва\n2. Лиду нужны пластиковые окна\n3. Он хочет установить окна в течении 30 дней\n4. …..',
                                                'maxlength': 1000
                                            }}) }}
                                            {% if form.leadCriteria.vars.errors|length %}
                                                <span class="text-error">{{ form.leadCriteria.vars.errors[0].message }}</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="form_item">
                                        {{ form_label(form.leadPrice, 'Стоимость лида:') }}
                                        <span {% if form.leadPrice.vars.errors|length %}class="error"{% endif %}>
                                            {{ form_widget(form.leadPrice, {'attr': {'class': 'price', 'placeholder': 'пример: 500', 'style': 'width:94%;'}}) }}
                                            {% if form.leadPrice.vars.errors|length %}
                                                <span class="text-error">{{ form.leadPrice.vars.errors[0].message }}</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                    {{ form_widget(form.submit, {'label': 'Создать новую комнату'}) }}
                                </div>
                                <div class="col-xl-5 col-12">
                                    <div class="guarantee">
                                        {{ form_label(form.platformWarranty, 'Требуется ли Вам гарантии нашей платформы?', {'attr': {'class': 'guarantee_title'}}) }}
                                        <p>Если рекламодатель после разговора с лидом, указал что он нецелевой, служба поддержки будет прослушивать записи разговоров (которые создаются автоматически путём двухсторонней связи рекламодателя с лидом) и принимать решение о возврате или не возврате денежных средств основываясь на индивидуальных правилах прописанных слева.</p>
                                        <p>Стоимость 1 минуты разговора составляет 4,00 руб.</p>
                                        <p>Деньги будут списаны автоматически после окончания разговора. Тарификация посекундная.</p>
                                        <a href="http://wiki.edward-lead.ru/?anchor=Sozdanie%20zakritoy%20komnati" class="more">Подробнее про гарантии Edward</a>
                                        <div class="box_checkbox">
                                            {{ form_row(form.platformWarranty[0]) }}
                                            {{ form_row(form.platformWarranty[1], {'attr': {'selected': true}}) }}
                                        </div>
                                        {% if form.platformWarranty.vars.errors|length %}
                                            <span class="text-error">{{ form.platformWarranty.vars.errors[0].message }}</span>
                                        {% endif %}
                                    </div>
                                    {% if form.timer is defined %}
                                        <div class="timer" style="display:none;">
                                            {{ form_label(form.timer, 'Включить таймер для менеджера?', {'attr': {'class': 'timer_title'}}) }}
                                            <p>Если Вы активируете эту функцию, Вам потребуются выбрыть город, рабочее время менеджера, который будет звонить лидам, максимальное время для обработки лидов и необходимое количество лидов в день.</p>
                                            <p>Таймер будет отсчитывать время, только в установленном графике работы. Если менеджер не успел его обработать согласно настройкам, лид автоматически получит статус "Целевой"</p>
                                            <a href="#" class="more">Смотреть как работает на примере</a>

                                            <div class="box_checkbox">
                                                {{ form_row(form.timer[0], {'attr': {'selected': true}}) }}
                                                {{ form_row(form.timer[1]) }}
                                            </div>
                                            {% if form.timer.vars.errors|length %}
                                                <span class="text-error">{{ form.timer.vars.errors[0].message }}</span>
                                            {% endif %}
                                            <div class="form_item">
                                                {{ form_label(form.city, 'Город работы:') }}
                                                <span>
                                                    {{ form_widget(form.city) }}
                                                    {% if form.city.vars.errors|length %}
                                                        <span class="text-error">{{ form.city.vars.errors[0].message }}</span>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="form_item">
                                                {{ form_label(form.schedule.workTime, 'Время работы:') }}
                                                {{ form_row(form.schedule.workTime.startAt, {'label': 'с'}) }}
                                                {{ form_row(form.schedule.workTime.endAt, {'label': 'по'}) }}
                                                <span>
                                                    {{ form_widget(form.schedule.workDays) }}
                                                </span>
                                                {% if form.schedule.workDays.vars.errors|length %}
                                                    <span class="text-error">{{ form.schedule.workDays.vars.errors[0].message }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="form_item">
                                                {{ form_label(form.executionHours, 'Время исполнения лида') }}
                                                <span {% if form.executionHours.vars.errors|length %}class="error"{% endif %}>
                                                    {{ form_widget(form.executionHours) }}
                                                    {% if form.executionHours.vars.errors|length %}
                                                        <span class="text-error">{{ form.executionHours.vars.errors[0].message }}</span>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="form_item">
                                                {{ form_label(form.leadsPerDay, 'Минимальное количество лидов в день') }}
                                                <span {% if form.leadsPerDay.vars.errors|length %}class="error"{% endif %}>
                                                    {{ form_widget(form.leadsPerDay) }}
                                                    {% if form.leadsPerDay.vars.errors|length %}
                                                        <span class="text-error">{{ form.leadsPerDay.vars.errors[0].message }}</span>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}