{% extends '@App/v3/layout_dark.html.twig' %}

{% from '@App/v3/macros.html.twig' import room_lead_price %}

{% block content %}
    
    <div class="title title__offers fx fx-between fx-wrap align-center">
        <h3 class="title__h3">Офферы</h3>
        <div class="title__links">
            {%- if is_granted('ROLE_ADVIRTISER') -%}
                <a href="#" class="title__links__item">Опубликовать свой оффер</a>
            {%- elseif is_granted('ROLE_WEBMASTER') -%}
                <a href="#" class="title__links__item">Не нашли подходящий оффер?</a>
            {%- endif -%}
        </div>
    </div>

    {% if rooms|length -%}
        <div class="offers">
            {% for room in rooms -%}
                <div class="offers__item">
                    <div class="row fx fx-wrap">
                        <div class="col-5">
                            <div class="offers__left">
                                <div class="offers__title">
                                    <p class="offers__title__small">Название оффера</p>
                                    <h5 class="fx align-center">
                                        {{- room.name -}}&nbsp;
                                        <span class="dots {{ room.enabled ? 'dots__green' : 'dots__red' }}"></span>
                                    </h5>
                                </div>
                                <div class="offers__criteria">
                                    <p class="offers__title__small">Критерии целевого лида</p>
                                    <p class="offers__criteria__list">
                                        {{ room.leadCriteria }}
                                    </p>
                                    {# <ul class="offers__criteria__list">
                                        <li class="offers__criteria__item"><span>1.</span> Хочет получить займ от 300.000 руб</li>
                                        <li class="offers__criteria__item"><span>2.</span> Объект под залог должен находиться в Москве</li>
                                        <li class="offers__criteria__item"><span>3.</span> Лицо принимающее решение</li>
                                    </ul> #}
                                    {# <span class="offers__criteria__all speed">Развернуть все критерии</span> #}
                                </div>
                                <div class="offers__info fx align-center">
                                    <div class="offers__info__item">{{ 'common.rate'|trans }}: <span>
                                        {{ room_lead_price(room) }}
                                    </span></div>
                                    <div class="offers__info__item">{{ 'common.hold'|trans }}: <span>48 часов</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="offers__right">
                                <div class="row fx align-center">
                                    <div class="offers__right__top__txt col-6">
                                        <div class="offers__title">
                                            <p class="offers__title__small">География</p>
                                            <h5 class="fx align-center">
                                                {% if room.regions|length -%}
                                                    {{ room.regions|map(r => "#{r.name}")|join(',', 'common.and'|trans) }}
                                                {%- endif %}
                                            </h5>
                                        </div>
                                        <div class="offers__title">
                                            <p class="offers__title__small">Сфера деятельности</p>
                                            <h5 class="fx align-center">{{ room.sphere }}</h5>
                                        </div>
                                    </div>
                                    <div class="offers__right__top__img col-6 text-center">
                                        <img src="" alt="Логотип">
                                    </div>
                                </div>
                                <div class="offers__channels">
                                    <p class="offers__title__small">Рекамные каналы</p>
                                    <div class="offers__channels__box row fx fx-wrap">
                                        <div class="col-6">
                                            {% if room.channels|length -%}
                                                <ul class="offers__channels__list speed">
                                                    {% for channel in room.channels -%}
                                                        <li class="offers__channels__item">
                                                            <span class="offers__channels__icon {{ channel.allowed ? 'i-yes' : 'i-not' }}"></span>{{ channel.propertyValue }}
                                                        </li>
                                                    {%- endfor %}
                                                </ul>
                                            {%- endif %}
                                        </div>
                                        <div class="col-6">
                                            <ul class="offers__channels__list speed">
                                                <li class="offers__channels__item">
                                                    {% if is_granted('ROLE_WEBMASTER') and not room.isOwner(app.user) and not room.isMember(app.user) %}
                                                        <a href="#" id="connect-offer" class="btn btn__green offers__channels__btn">Подключить оффер</a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {# <span class="offers__channels__hide speed">Развернуть все каналы</span> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {%- endif %}
{% endblock %}

{% block javescripts %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/app/v3/js/lib/vue.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/app/v3/js/lib/vue.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/app/v3/js/offer/list.js') }}"></script>
{% endblock %}