{% extends '@App/layout.html.twig' %}

{% import '@App/common_macros.html.twig' as common_macros %}

{% block content %}
    <div class="table_leads" id="my-leads">
        {% include '@App/flash_messages.html.twig' %}
        <div class="table_leads_layout exposed_leads">
            <div class="exposed_leads_title">
                <h2>Мои лиды</h2>
            </div>
            <div class="table_leads_block">
                <table>
                    <tbody>
                    <!-- Лиды для веб-мастера -->
                    {% if leads is defined %}
                        <tr>
                            <th>Дата создания</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Стоимость</th>
                            <th>Продавец</th>
                            <th>Покупатель</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        {% if leads|length %}
                            {% for lead in leads %}
                                <tr>
                                    <td>{{ lead.createdAt|date('d.m.Y H:i:s') }}</td>
                                    <td>{{ lead.name }}</td>
                                    <td>{{ lead.phone }}</td>
                                    <td>{{ lead.price|money_format }}</td>
                                    <td>
                                        {{ lead.user.name }}
                                    </td>
                                    <td>
                                        {% if lead.buyer is not empty %}
                                            {% set buyer = lead.buyer %}
                                            {% if buyer.hascompany %}
                                                {{ buyer.company.shortname }}
                                            {% else %}
                                                {{ buyer.name }}
                                            {% endif %}
                                        {% elseif can_show_timer(lead) %}
                                            таймер<br>
                                            <span class="text-red">{{ lead.timer.endAt|human_remain_time }}</span>
                                        {% else %}
                                            ---
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ common_macros.lead_status(lead) }}
                                    </td>
                                    <td>
                                        <div class="table_link">
                                            {% if lead.trade is not empty and lead.trade.lastPhoneCall is not empty and lead.trade.lastPhoneCall.id is not empty %}
                                                <a href="{{ path('app_telephony_listen_record', {'id': lead.trade.lastPhoneCall.id }) }}" class="speaker" target="_blank"></a>
                                            {% endif %}
                                            <a href="{{ path('app_lead_show', {'id': lead.id}) }}" class="transition_link" target="_blank"></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">Еще нет созданных лидов.</td>
                            </tr>
                        {% endif %}
                    <!-- Лиды из сделок для компании -->
                    {% elseif trades is defined %}
                        <tr>
                            <th>Дата создания</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Стоимость</th>
                            <th>Продавец</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        {% if trades|length %}
                            {% for trade in trades %}
                                {% set lead = trade.lead %}
                                <tr>
                                    <td>{{ lead.createdAt|date('d.m.Y H:i:s') }}</td>
                                    <td>{{ lead.name }}</td>
                                    <td>
                                        {% set show_number = false %}
                                        {% set current_call = null %}
                                        {% for call in calls %}
                                            {% if call.trade.leadId == lead.id and lead.status is constant('STATUS_TARGET', lead) %}
                                                {% set show_number = true %}
                                                {% set current_call = call %}
                                            {% elseif call.trade.leadId == lead.id %}
                                                {% set current_call = call %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if can_show_phone(lead, app.user) %}
                                            {{ lead.phone|human_phone }}
                                        {% else %}
                                            {{ lead.phone|hidden_phone }}
                                        {% endif %}
                                    </td>
                                    <td>{{ final_price(trade.lead)|money_format }}</td>
                                    <td>
                                        {{ lead.user.name }}
                                    </td>
                                    <td>
                                        {% if lead.status is constant('STATUS_IN_WORK', lead) and lead.room is not null and not lead.room.isplatformwarranty %}
                                            <a href="#" class="label label-in-work" @click.prevent="openResultModal({id:{{ trade.id }}, lead: {name: '{{ lead.name }}', phone: '{{ lead.phone|human_phone }}'}})">
                                                Ожидает <img src="{{ asset('bundles/app/v2/img/pencil.png') }}" style="margin-left:5px;">
                                            </a>
                                        {% else %}
                                            {{ common_macros.lead_status(lead) }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="table_link">
                                            {% if trade.lastPhoneCall is not empty and trade.lastPhoneCall.id is not empty %}
                                                <a href="{{ path('app_telephony_listen_record', {'id': trade.lastPhoneCall.id }) }}" class="speaker" target="_blank"></a>
                                            {% endif %}
                                            <a href="{{ path('app_lead_show', {'id': lead.id}) }}" class="transition_link" target="_blank"></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">Ещё нет купленых лидов</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include '@App/block_copyright.html.twig' %}
        <result-modal :trade="trade" @close-modal="closeResultModal"></result-modal>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/lib/vue.js') }}"></script>

    <script type="text/x-template" id="result-modal">
        <div class="blocked-modal" v-show="trade">
            <div class="content-area">
                <div style="display:flex;justify-content:right;">
                    <span style="color:#fff;cursor:pointer;" @click="close">X</span>
                </div>
                <h2>Помогите нам улучшить сервис</h2>
                <h3 style="margin:25px;">Дайте нам обратную связь, чтобы наш робот на основании данных формировал рейтинг продавца</h3>
                <p class="text-gray">Имя лида: <span v-text="leadName"></span> Телефон: <span v-text="leadPhone"></span></p>
                <div class="result-choices">
                    <div class="result-case">
                        <div>
                            <img src="{{ asset('bundles/app/img/calc.svg') }}" width="72" height="72">
                        </div>
                        <div>
                            <p>Целевой лид, взяли в работу</p>
                            <a class="btn green btn-green" :href="acceptUrl">Выбрать вариант</a>
                        </div>
                    </div>
                    <div class="result-case">
                        <div>
                            <span style="margin-bottom:25px;font-size:12px;color:#b4b4b4;">Отправить в арбитраж</span>
                            <img style="margin-bottom:20px;" src="{{ asset('bundles/app/img/smile-sad.svg') }}" width="72" height="72">
                        </div>
                        <div>
                            <p>Не целевой лид, <br>прошу вернуть за <br> него деньги</p>
                            <a class="btn green btn-green" :href="rejectUrl">Выбрать вариант</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script src="{{ asset('bundles/app/js/lead/my.js') }}"></script>
{% endblock %}