{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="lead-view office-settings u-w-100">
        {% include '@App/flash_messages.html.twig' %}
        <h3 class="office-settings__title">Лид #{{ lead.id }}</h3>
        <div class="plain__text text-mod-5">Просмотрите карточку лида, если Вам он показался интересный, Вы можете его купить и получить его контактные данные. Мы продаём лида только одной организации.</div>
        <div class="info-block">
            <div class="info-block__list">
                <div class="info-block__item">
                    <div class="info-block__img">
                        <span class="icon-star-new span-mod-3 text-yellow"></span>
                    </div>
                    <div class="info-block__row-box">
                        <div class="info-block__row-item block-mod-6">
                            <div class="info-block__column-left">Имя лида:</div>
                            <div class="info-block__column-right">{{ lead.name }}</div>
                        </div>
                        <div class="info-block__row-item block-mod-6">
                            <div class="info-block__column-left">Телефон:</div>
                            <div class="info-block__column-right">
                                {% if can_show_phone(lead, app.user) %}
                                    {{ lead.phone|human_phone }}
                                {% else %}
                                    {{ lead.phone|hidden_phone }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="info-block__row-item block-mod-6">
                            <div class="info-block__column-left">Город:</div>
                            <div class="info-block__column-right">
                                {% if lead.city is not empty %}
                                    {{ lead.city.name }}
                                {% else %}
                                    Не указан
                                {% endif %}
                            </div>
                        </div>
                        <div class="info-block__row-item">
                            <div class="info-block__column-left">Продавец:</div>
                            <div class="info-block__column-right">
                                <div class="info-block__seller-info">
                                    <div>
                                        {{ lead.user.name }}
                                        <br>
                                        <span class="text-green">рейтинг: 98/100</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>
            <div class="info-block__item">
                <div class="info-block__img"><span class="icon-star-new span-mod-3 {% if lead.channelName is empty or lead.orderDate is empty %}text-gray{% else %}text-yellow{% endif %}"></span>
                </div>
                <div class="info-block__row-box">
                    <div class="info-block__row-item">
                        <div class="info-block__column-left">Рекламный канал:</div>
                        <div class="info-block__column-right">{% if lead.channelName is empty %}Не указано{% else %}{{ lead.channelName }}{% endif %}</div>
                    </div>
                    <div class="info-block__row-item">
                        <div class="info-block__column-left">Дата поступления заявки:</div>
                        <div class="info-block__column-right">{% if lead.orderDate is empty %}Не указано{% else %}{{ lead.orderDate|date_format }}{% endif %}</div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>
            <div class="info-block__item">
                <div class="info-block__img"><span class="icon-star-new span-mod-3 {% if lead.decisionMaker is null %}text-gray{% else %}text-yellow{% endif %}"></span>
                </div>
                <div class="info-block__row-box">
                    <div class="info-block__row-item">
                        <div class="info-block__column-left">Лицо принемающее решение?</div>
                        <div class="info-block__column-right">
                            {% if lead.decisionMaker is constant('DECISION_MAKER_UNKNOWN', lead) %}
                                Неизвестно
                            {% elseif lead.decisionMaker is constant('DECISION_MAKER_YES', lead) %}
                                Да
                            {% elseif lead.decisionMaker is constant('DECISION_MAKER_NO', lead) %}
                                Нет
                            {% else %}
                                Не указано
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>
            <div class="info-block__item">
                <div class="info-block__img"><span class="icon-star-new span-mod-3 text-yellow"></span>
                </div>
                <div class="info-block__row-box">
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right block-mod-1">Оценка заинтересованость в покупке по 10 бальной шкале:</div>
                    </div>
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right">
                            <div class="star-box__list">
                                {% for i in range(1,10) %}
                                    <div class="star-box__item">
                                        <span class="icon-star-new {% if lead.interestAssessment >= i %}text-yellow{% else %}text-gray{% endif %} span-mod-7"> </span> <span class="span-mod-5">{{ i }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>
            <div class="info-block__item">
                <div class="info-block__img"><span class="icon-star-new span-mod-3 {% if lead.description is empty %}text-gray{% else %}text-yellow{% endif %}"></span></div>
                <div class="info-block__row-box">
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right block-mod-1">Подробнее про лида <br> <span class="span-mod-22">(его приоритеты в покупке и прочую полезную информацию)</span></div>
                    </div>
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right text-mod-2">
                            {% if lead.description is empty %}Не указано{% else %}{{ lead.description }}{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line">&nbsp;</div>

            <div class="info-block__item">
                <div class="info-block__img"><span class="plain-text {% if lead.audioRecord is empty %}text-gray{% else %}text-yellow{% endif %} span-mod-6">gold</span></div>
                <div class="info-block__row-box block-mod-19">
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right block-mod-1">Запись разговора</div>
                    </div>
                    <div class="info-block__row-item">
                        <div></div>
                        <div class="info-block__column-right text-mod-2">
                            <div class="binded__item">
                                {% if lead.audioRecord is empty %}
                                    Запись отсутствует
                                {% else %}
                                    <audio controls src="{{ asset(lead.audioRecord) }}">
                                        Ваш браузер не позволяет прослушивавать аудио записи.
                                    </audio>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-lead__offer">
            <div class="plain__text text-mod-6">Стоимость лида:</div>
            <div class="text-green">
                {{ priceWithFee|money_format }}<br/>
                <span class="fee">С учётом комиссии {{ fee }}%</span>
            </div>
            {% if app.user != lead.user %}
                <a class="btn btn-green btn-buy-lead" href="{{ path('app_lead_buy', {'id': lead.id}) }}">
                    Купить лида за {{ priceWithFee|money_format }}
                </a>
            {% endif %}
        </div>
        {% include '@App/block_copyright.html.twig' %}
    </div>
{% endblock %}