{% block header %}
    <div class="col-lg-3 header_logo">
        <div class="logo">
            {% if is_granted('ROLE_WEBMASTER') %}
                <a href="{{ path('app_dashboard') }}">
                    <img src="{{ asset('bundles/app/v2/img/logo.png') }}">
                </a>
            {% else %}
                <a href="{{ path('app_room_list') }}">
                    <img src="{{ asset('bundles/app/img/logo.png') }}">
                </a>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-9 header_main">
        <div class="main">
            <div class="balance">
                <p>Баланс: <span>{{ app.user.balance|money_format }}</span></p>
                <p>Холд: <span>{{ balance_hold(app.user)|money_format }}</span></p>
            </div>
            {% include '@App/v2/top_menu.html.twig' %}
        </div>
    </div>
{% endblock %}