{% block header %}
    <div class="col-lg-3 header_logo">
        <div class="logo">
            <a href="/">
                <img src="{{ asset('bundles/app/v2/img/logo.png') }}">
            </a>
        </div>
    </div>
    <div class="col-lg-9 header_main">
        <div class="main">
            {#<div class="notifications droparrow">#}
                {#<div class="box_title">#}
                    {#<p>Уведомления<span class="num">999999</span></p>#}
                {#</div>#}
                {#<div class="dropdownbox">#}
                    {#<div class="notifications_box">#}
                        {#<ul>#}
                            {#<li>#}
                                {#<div class="top">#}
                                    {#<div class="achtung">#}
                                        {#ВАЖНОЕ#}
                                    {#</div>#}
                                    {#<span class="date">10 февраля</span>#}
                                {#</div>#}
                                {#<div class="dec">#}
                                    {#<p>Вам прислали приглашение присоедениться к закрытой комнате #23548 - Медведи Москва </p>#}
                                {#</div>#}
                                {#<div class="box_btn">#}
                                    {#<a href="#" class="btn green">Принять</a>#}
                                    {#<a href="#" class="btn red">Отклонить</a>#}
                                {#</div>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="news_box">#}
                        {#<ul>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<div class="top">#}
                                        {#<div class="achtung">новости</div>#}
                                        {#<span class="date">9 февраля</span>#}
                                    {#</div>#}
                                    {#<div class="desc">#}
                                        {#<p>На Вашем аккаунте в Edward Lead закончились деньги. Не забудьте пополнить баланс</p>#}
                                        {#<div class="circle">#}
                                            {#<img src="{{ asset('bundles/app/v2/img/icon_11.png') }}">#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">#}
                                    {#<div class="top">#}
                                        {#<div class="achtung">новости</div>#}
                                        {#<span class="date">9 февраля</span>#}
                                    {#</div>#}
                                    {#<div class="desc">#}
                                        {#<p>На Вашем аккаунте в Edward Lead закончились деньги. Не забудьте пополнить баланс</p>#}
                                        {#<div class="circle">#}
                                            {#<img src="{{ asset('bundles/app/v2/img/icon_11.png') }}">#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="manager droparrow">#}
                {#<div class="box_title">#}
                    {#<span class="name">Ваш менеджер</span>#}
                    {#<p>Алексей Сергеевич Киселев</p>#}
                {#</div>#}
                {#<div class="dropdownbox">#}
                    {#<p>Ваш персональный менеджер: <span>Алексей Киселев</span></p>#}
                    {#<a class="phone" href="tel:+74951002030">Тел: +7 (495) 100 20 30</a>#}
                    {#<span class="time">Пн-Пт с 9:00 до 19:00 по МСК</span>#}
                    {#<a href="#" class="btn green">Написать в тех. подержку</a>#}
                {#</div>#}
            {#</div>#}
            <div class="balance">
                <p>Баланс: <span>{{ app.user.balance|money_format }}</span></p>
                <p>Холд: <span>{{ balance_hold(app.user)|money_format }}</span></p>
            </div>
            <div class="userbox droparrow">
                <div class="box_title">
                    <img src="{{ asset('bundles/app/v2/img/icon_2.png') }}">
                </div>
                <div class="dropdownbox">
                    <ul>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}">Админ панель</a></li>
                        {% endif %}
                        {% if app.user.company is not empty %}
                            <li><a href="{{ path('app_updating_company', {'id': app.user.company.id}) }}">Кабинет компании</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_profile') }}">Мой профиль</a></li>
                        <li><a href="{{ path('app_billing') }}">Оплата</a></li>
                        <li><a href="{{ path('app_logout') }}">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}