{% block header %}
    <div class="col-lg-4 header_logo" xmlns="http://www.w3.org/1999/html">
        <div class="logo" style="display:flex;">
            {% if is_granted('ROLE_WEBMASTER') %}
                <a href="{{ path('app_dashboard') }}">
                    <img src="{{ asset('bundles/app/v2/img/logo.png') }}">
                </a>
            {% else %}
                <a href="{{ path('app_room_list') }}">
                    <img src="{{ asset('bundles/app/img/logo.png') }}">
                </a>
            {% endif %}
            <div style="color:#fff;padding-top:8px;margin-left:20px;">Closed Beta Testing</div>
        </div>
    </div>
    <div class="col-lg-8 header_main">
        <div class="main">
            <div class="balance">
                <p>Баланс: <span>{{ app.user.balance|money_format }}</span></p>
                {% if is_granted('ROLE_COMPANY') %}
                    <p>Холд: <span>{{ balance_hold(app.user)|money_format }}</span></p>
                {% elseif is_granted('ROLE_WEBMASTER') %}
                    <p>Холд: <span>{{ pending_amount(app.user)|money_format }}</span></p>
                {% endif %}
            </div>
            {% include '@App/v2/top_menu.html.twig' %}
        </div>
    </div>
{% endblock %}