<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta content="" name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="format-detection" content="telephone=no">
    {% block stylesheets -%}
        <link rel="stylesheet" href="{{ asset('bundles/app/v2/css/libs.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/v2/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/blocked-modal.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/notification.css') }}">
        <script src="https://kit.fontawesome.com/b14865650d.js" crossorigin="anonymous"></script>
    {%- endblock %}
    <title>Edward лидогенерация</title>
    {% include '@App/google_tag_manager_head.html.twig' %}
    {%- if app.environment == 'prod' -%}
        <script>
            (function(i,s,o,g,r,a,m){
                    i["esSdk"] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, a=s.createElement(o), m=s.getElementsByTagName(o)[0]; a.async=1; a.src=g;
                    m.parentNode.insertBefore(a,m)}
            ) (window, document, "script", "https://esputnik.com/scripts/v1/public/scripts?apiKey=eyJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI0NTI0ZWZhYTJkYzI2MGRmYTM4YTE1NDBlMWFhYjE0N2Q1OTAzNzBiM2Y0Zjk3ODQwYmE4MGU2ZGM3YzEwMDRmMjJhOGU1MzE1ZmJlYTIyZTBhMDMzY2FhODQ3Yjg2NTQ1MGFhYTM0NjEwNjUzNGMxZTcyMjRhOTQ2NjVmYmM0NGJkZDhlYjZkNmIyMDc0NWFhNDY0YjcyNWIzODg0YjEyMDI4ZGVjOTY5YTU3In0.we1MGdYaaQ-OGYw9cdmvx-pc6s4ILdtXcIN3BrShFUS-VABz37Xrn2gQp8Affq-u0qxg8w51T0MGZtzhEsntZg&domain=24A4E9F1-04AB-4E99-9D21-E5D12739B62F", "es");
            es("pushOn");
        </script>
    {%- endif -%}
</head>
<body>
    <header>
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    {% include '@App/v2/header.html.twig' %}
                </div>
            </div>
        </div>
    </header>
    <main>
        <section id="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl1-4 col-xl-3 col-lg-4 main_nav">
                        {% include '@App/v2/menu.html.twig' %}
                    </div>
                    <div class="col-xl1-8  col-xl-9 col-lg-8 main_content">
                        {% block content -%}{%- endblock %}
                        <div class="footer">
                            <p>© 2019 Edward - решения для бизнеса</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{ render(controller('AppBundle\\Controller\\TradeController::showResultModal')) }}
    {% block javascripts -%}
        {%- if app.environment == 'prod' and jivosite_enabled -%}
            <script src="//code-ru1.jivosite.com/widget.js" data-jv-id="YinHI3gAhp" async></script>
        {%- endif -%}
        <script src="{{ asset('bundles/app/v2/js/libs.min.js') }}"></script>
        <script src="{{ asset('bundles/app/v2/js/main.js') }}"></script>
        <script src="{{ asset('bundles/app/js/notifiaction.js') }}"></script>
        <script src="{{ asset('bundles/notification/js/web_push_token_handler.js') }}"></script>
    {%- endblock %}
    {% include '@App/google_tag_manager_body.html.twig' %}
</body>
</html>