<div class="fancybox-container fancybox-is-open fancybox-can-drag" role="dialog" tabindex="-1" id="fancybox-container-3" style="transition-duration: 500ms;">
    <div class="fancybox-bg"></div>
    <div class="fancybox-inner">
        <div class="fancybox-stage">
            <div class="fancybox-slide fancybox-slide--inline fancybox-slide--current fancybox-slide--complete">
                <div style="display: inline-block;" id="modal_lead">
                    <h2 class="center">Помогите нам улучшить сервис</h2>
                    <div class="subtitle center">
                        Дайте нам обратную связь, чтобы наш робот на основании данных формировал рейтинг продавца
                    </div>
                    <div class="box_contacts">
                        <p>Имя лида: <span>{{ lead.name }}</span></p>
                        <p>Телефон: <span>{{ lead.phone|human_phone }}</span></p>
                    </div>
                    <div class="box_lead">
                        <div class="box_inner">
                            <span></span>
                            <img src="{{ asset('bundles/app/v2/img/icon_12.png') }}">
                            <p>Целевой лид, <br>взяли в работу</p>
                            <a href="{{ path('app_trade_success', {'id': lead.trade.id}) }}" class="btn green">Выбрать вариант</a>
                        </div>
                        <div class="box_inner">
                            <span>отправить в арбитраж</span>
                            <img src="{{ asset('bundles/app/v2/img/icon_13.png') }}">
                            <p>Не целевой лид, <br>прошу вернуть за <br> него деньги</p>
                            <a href="{{ path('app_trade_reject', {'id': lead.trade.id, 'status': constant('STATUS_NO_TARGET', lead)}) }}" class="btn green">Выбрать вариант</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>