{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="arbitrate" id="arbitrate">
        <div class="arbitrate__tabs">
            <div class="tabs tabs-arbitrate">
                <span class="tabs__header">Арбитраж/поддержка</span>
                <ul class="tabs-nav tabs-arbitrate__nav">
                    <li class="tabs-arbitrate__item block-mod-11" @click="changeTabBox($event, 'open')" @class="{active: openTab}">Открытые ({{ vue_var('openedThreads.length') }})</li>
                    <li class="tabs-arbitrate__item block-mod-12" @click="changeTabBox($event, 'archive')" @class="{active: archiveTab}">Архив ({{ vue_var('archiveThreads.length') }})</li>
                </ul>
                <div class="tabs-box tabs-box-arbitrate">
                    <div class="tabs-box-arbitrate__item" :class="{active: openTab}">
                        <thread-tab
                            v-for="tab, key in openedThreads"
                            :id="tab.id"
                            :lead="tab.lead"
                            :date="tab.date"
                            :status="tab.status"
                            :type="tab.type"
                            :item="key"
                            :key="key"
                            :thread="tab.thread"
                            @change-thread="changeThread"
                        ></thread-tab>
                        <p v-if="openedThreads.length === 0">У вас нет открытых обращений</p>
                    </div>
                    <div class="tabs-box-arbitrate__item" :class="{active: archiveTab}">
                        <thread-tab
                            v-for="tab, key in archiveThreads"
                            :id="tab.id"
                            :lead="tab.lead"
                            :date="tab.date"
                            :status="tab.status"
                            :type="tab.type"
                            :item="key"
                            :key="key"
                            :thread="tab.thread"
                            @change-thread="changeThread"
                        ></thread-tab>
                        <p v-if="archiveThreads.length === 0">У вас нет архивных обращений</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-middle-green u-margin-auto">Открыть новое обращение</button>
        </div>
        <div class="arbitrate__info">
            <span class="arbitrate__info__title" v-if="currentThread.id === null">Выберите обращение для отображения</span>
            <span class="arbitrate__info__title" v-if="currentThread.id !== null">Арбитраж #{{ vue_var('currentThread.id') }}</span>
            <thread-message
                v-for="message in currentThread.messages"
                :key="message.id"
                :sender="message.sender"
                :time="message.time"
                :logotype="message.logotype"
                :body="message.body"
                :target_in="message.target_in"
                :target_out="message.target_out"
            ></thread-message>
            <message-form
                v-if="currentThread.id !== null"
                :action="form.action"
                :method="form.method"
                :children="form.children"
                :thread="currentThread.id"
                :errors="form.errors"
                @submit-form="formSubmit"
                @image-uploaded="onImageUploaded"
            ></message-form>
        </div>
        {#<div class="block-copyright">
            © 2019 Edward - решения для бизнеса
        </div>#}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/x-template" id="component-thread-tab">
        <div @click="$emit('change-thread', item, thread)">
            <div class="tabs-box-arbitrate__number"v-if="type == 'arbitration'">Арбитраж #{{ vue_var('id') }}</div>
            <div class="tabs-box-arbitrate__number"v-if="type == 'support'">Обращение #{{ vue_var('id') }}</div>
            <div class="tabs-box-arbitrate__date">{{ vue_var('date') }}</div>
            <div class="tabs-box-arbitrate__state text-blue" v-if="status == 'new'">Лид #{{ vue_var('lead') }}</div>
            <div class="tabs-box-arbitrate__state text-green" v-if="status == 'wait_user'">Вам ответила тех. поддержка</div>
            <div class="tabs-box-arbitrate__state" v-if="status == 'wait_support'">Ожидаем ответа от поддержки</div>
            <div class="tabs-box-arbitrate__state text-blue" v-if="status == 'closed'">Лид #{{ vue_var('lead') }}</div>
        </div>
    </script>
    <script type="text/x-template" id="component-thread-message">
        <div class="message" :class="{arbitrate__message: target_in, arbitrate__comment: target_out}">
            <img :src="logotype" v-if="logotype">
            <div class="message__content">
                <p class="message__header"><b>{{ vue_var('sender') }}</b>
                    <span class="message__date">&nbsp; {{ vue_var('time') }}</span>
                </p>
                <br>
                <p class="message__text">{{ vue_var('body') }}</p>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="component-message-form">
        <form class="arbitrate-form" method="post" enctype="multipart/form-data" name="message" @open-dialog="openFileDialog" novalidate>
            <ul v-if="errors.length">
                <li v-for="error in errors" v-text="error"></li>
            </ul>
            <div>
                <textarea class="arbitrate-form__textarea autoExpand" id="message_body" name="message[body]" rows="3" data-min-rows="3" placeholder="Напишите свое сообщение" required="" v-model="children.body.data"></textarea>
                <div class="arbitrate-form__button-block">
                    <button type="button" class="arbitrate-form__button" @click="$emit('submit-form')"><span class="icon-submit"></span></button>
                    <button type="button" class="arbitrate-form__button" @click="openFileDialog"><span class="icon-clip"></span></button>
                </div>
                <div class="arbitrate-form__selected-files binded">
                    <form-image
                        v-for="image, key in children.images.data"
                        :image="image"
                        :id="key"
                        :key="key"
                        :url="children.images.deleteUrl"
                        @delete-image="deleteImage"
                    ></form-image>
                </div>
            </div>
            <input type="hidden" id="message_thread" name="message[thread]" :value="thread">
            <input type="hidden" id="message__token" name="message[_token]" :value="children._token.data">
            <input type="file" accept="image/jpeg,image/png" multiple style="display: none" ref="file" @change="addedFiles">
        </form>
    </script>
    <script type="text/x-template" id="component-form-image">
        <div class="binded__item">
            <input type="hidden" :id="'message_images_' + id" :name="'message[images][' + id + ']'" :value="image.id">
            <button class="binded__button" type="button" @click="$emit('open-dialog')"><span class="icon-clip"></span></button>
            <span class="binded__file">{{ vue_var('image.realName') }}</span>
            <button class="button-close" type="button" @click="deleteImage(id, image.serverName)">×</button>
        </div>
    </script>

    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/app/js/lib/vue.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/app/js/lib/vue.js') }}"></script>
    {% endif %}
    <script type="application/javascript">{{ include('@App/Arbitration/default.js.twig') }}</script>
    <script src="{{ asset('bundles/app/js/arbitration.js') }}"></script>
{% endblock %}