{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="arbitrate" id="arbitrate">
        <div class="arbitrate__tabs">
            <div class="tabs tabs-arbitrate">
                <span class="tabs__header">Арбитраж/поддержка</span>
                <ul class="tabs-nav tabs-arbitrate__nav">
                    <li class="tabs-arbitrate__item block-mod-11" @click="changeTabBox('open')" :class="{active: openTab}">
                        Открытые (<span v-text="openedThreads.length"></span>)
                    </li>
                    <li class="tabs-arbitrate__item block-mod-12" @click="changeTabBox('archive')" :class="{active: archiveTab}">
                        Архив (<span v-text="archiveThreads.length"></span>)
                    </li>
                </ul>
                <div class="tabs-box tabs-box-arbitrate">
                    <div class="tabs-box-arbitrate__item" :class="{active: openTab}">
                        <thread-tab
                            v-for="tab, key in openedThreads"
                            :id="tab.id"
                            :lead="tab.lead"
                            :date="tab.date"
                            :status="tab.status"
                            :type="tab.type"
                            :item="key"
                            :key="key"
                            :thread="tab.thread"
                            @change-thread="changeThread"
                        ></thread-tab>
                        <div v-if="openedThreads.length === 0">У вас нет открытых обращений</div>
                    </div>
                    <div class="tabs-box-arbitrate__item" :class="{active: archiveTab}">
                        <thread-tab
                            v-for="tab, key in archiveThreads"
                            :id="tab.id"
                            :lead="tab.lead"
                            :date="tab.date"
                            :status="tab.status"
                            :type="tab.type"
                            :item="key"
                            :key="key"
                            :thread="tab.thread"
                            @change-thread="changeThread"
                        ></thread-tab>
                        <div v-if="archiveThreads.length === 0">У вас нет архивных обращений</div>
                    </div>
                </div>
            </div>
            {% if not is_granted('ROLE_ADMIN') %}
                <div class="label-error text-red" v-if="isOpenNewThreadError" v-text="openNewThreadError"></div>
                <button class="btn btn-middle-green u-margin-auto" @click="createNewThread" v-if="openTab">Открыть новое обращение</button>
            {% endif %}
        </div>
        <div class="arbitrate__info">
            <span class="arbitrate__info__title" v-if="currentThread.id !== null && currentThread.type === 'arbitration'">
                Арбитраж #<span v-text="currentThread.id"></span>
            </span>
            <span class="arbitrate__info__title" v-else-if="currentThread.id !==null && currentThread.type === 'support'">
                Обращение #<span v-text="currentThread.id"></span>
            </span>
            <span class="arbitrate__info__title" v-else="currentThread.id === null">Выберите обращение для отображения</span>
            <thread-message
                v-for="message in currentThread.messages"
                :key="message.id"
                :sender="message.sender"
                :time="message.time"
                :logotype="message.logotype"
                :body="message.body"
                :target_in="message.target_in"
                :target_out="message.target_out"
                :images="message.images"
            ></thread-message>
            {% if not is_granted('ROLE_ADMIN') %}
                <message-form
                    v-if="isCurrentThreadOpen"
                    :action="form.action"
                    :method="form.method"
                    :children="form.children"
                    :thread="currentThread.id"
                    :errors="form.errors"
                    @submit-form="formSubmit"
                    @image-uploaded="onImageUploaded"
                ></message-form>
            {% endif %}
        </div>
        {#<div class="block-copyright">
            © 2019 Edward - решения для бизнеса
        </div>#}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/x-template" id="thread-tab">
        <div @click="$emit('change-thread', item, thread)">
            <div class="tabs-box-arbitrate__number" v-text="label"></div>
            <div class="tabs-box-arbitrate__date" v-text="date"></div>
            <div class="tabs-box-arbitrate__state"
                 :class="{'text-blue': status === 'new' || status === 'closed', 'text-green': status === 'wait_user'}"
                 v-text="state"
            ></div>
        </div>
    </script>
    <script type="text/x-template" id="thread-message">
        <div class="message" :class="{arbitrate__message: target_out, arbitrate__comment: target_in}">
            <div class="message__img" v-if="target_out">
                <img :src="logotype" v-if="logotype">
                <img src="{{asset('bundles/app/img/avatar.png') }}" v-else>
            </div>
            <div class="message__content">
                <p class="message__header"><b v-text="sender"></b>
                    <span class="message__date" v-text="time"></span>
                </p>
                <br>
                <p class="message__text" v-text="body"></p>
                <p class="message__images" v-if="images.length">
                    <a class="text-green" target="_blank" v-for="image,key in images" :href="'/uploads/' + image.path">
                        <span class="icon-clip"></span>&nbsp;<span v-text="'Изображение ' + (key + 1)"></span>
                    </a>
                </p>
            </div>
            <div class="message__img" v-if="target_in">
                <img :src="logotype" v-if="logotype">
                <img src="{{asset('bundles/app/img/avatar.png') }}" v-else>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="message-form">
        <form class="arbitrate-form" method="post" enctype="multipart/form-data" name="message" @open-dialog="openFileDialog" novalidate>
            <ul class="errors" v-if="errors.length">
                <li v-for="error in errors" v-text="error"></li>
            </ul>
            <div style="display: flex;">
                <textarea class="arbitrate-form__textarea autoExpand" name="body" rows="3" data-min-rows="3" placeholder="Напишите свое сообщение" v-model="children.body.data" ref="messageTextarea"></textarea>
                <div class="arbitrate-form__button-block">
                    <button type="button" class="arbitrate-form__button" @click="$emit('submit-form')"><span class="icon-submit"></span></button>
                    <button type="button" class="arbitrate-form__button" @click="openFileDialog"><span class="icon-clip"></span></button>
                </div>
            </div>
            <div class="arbitrate-form__selected-files binded">
                <form-image
                    v-for="image, key in children.images.data"
                    :image="image"
                    :id="key"
                    :key="key"
                    :url="children.images.deleteUrl"
                ></form-image>
            </div>
            <input type="hidden" id="thread" name="thread" :value="thread">
            <input type="hidden" id="_token" name="_token" :value="children._token.data">
            <input type="file" accept="image/jpeg,image/png" multiple style="display: none" ref="file" @change="addedFiles">
        </form>
    </script>
    <script type="text/x-template" id="form-image">
        <div class="binded__item">
            <input type="hidden" :id="'images_' + id" :name="'images[' + id + ']'" :value="image.id">
            <button class="binded__button" type="button" @click="$emit('open-dialog')"><span class="icon-clip"></span></button>
            <span class="binded__file" v-text="image.realName"></span>
            <button class="button-close" type="button" @click="onDeleteClicked(image.id, image.serverName)">×</button>
        </div>
    </script>

    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/app/js/lib/vue.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/vue-resource.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/app/js/lib/vue.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/vue-resource.js') }}"></script>
    {% endif %}
    <script type="application/javascript">{{ include('@App/Arbitration/default.js.twig') }}</script>
    <script src="{{ asset('bundles/app/js/arbitration.js') }}"></script>
{% endblock %}