{% extends '@App/v3/layout_dark.html.twig' %}

{% block content %}
    <!-- Content -->

    <div id="app" class="content">

        <!-- Room -->
        
        <div class="title-panel fx fx-between">
        <div class="room-panel__box">
            <div class="title">
            <h3 class="title__h3 fx align-center">Комната #{{ room.id }} - {{ room.name }}<span class="dots dots__{% if room.enabled %}green{% else %}red{% endif %}"></span></h3>
            </div>
            <div class="room-panel__info fx">
            <a href="/room/{{ room.id }}/invite" class="room-panel__invite">Пригласить участника</a>
            <p class="room-panel__balance">Общий баланс покупателей: <span>{% if countCanBuy > 0 %}{{countCanBuy}} лидов{% else %}Нет покупателей{% endif %}</span></p>
            </div>
        </div>
        {% if app.user.webmaster and room.enabled %}
        <div class="room-panel__btn"><a href="{{ path('app_lead_create_form', {'room': room.id}) }}" class="btn btn__green">Добавить лид</a></div>
        {% else %}
        <div class="room-panel__btn"><span class="btn btn__grey">Добавить лид</span></div>
        {% endif %}
        </div>

        <!-- Room panel table -->
        
        <div class="row room-panel-table">
        <div class="table__box">
            <table class="table info-room__table">
            <thead class="table__head table__row_white">
                <tr>
                <th class="table__cell">Дата публикации</th>
                <th class="table__cell">Вебмастер</th>
                <th class="table__cell">Телефон</th>
                <th class="table__cell">Источник</th>
                <th class="table__cell">Компания</th>
                <th class="table__cell">Статус</th>
                <th class="table__cell table__cell__fix"></th>
                </tr>
            </thead>
            <tbody v-if="leadsCount" class="table__body">
                <tr v-for="lead in leads" class="table__row clickable-row" @click.prevent="onRowClick(lead.id)">
                <td class="table__cell" v-text="dateFormat(lead.created_at)"></td>
                <td class="table__cell" v-text="lead.user.name"></td>
                <td class="table__cell" v-text="lead.phone"></td>
                <td class="table__cell" v-text="lead.channel"></td>
                <td v-if="'timer' in lead" class="table__cell">
                    <div class="table__timer flex-center">
                    <i class="table__timer_icon"></i>
                    <div v-for="str in splitString(lead.timer.remain)" class="table__timer__box flex-center">
                        <span class="table__timer__item" v-text="str"></span>
                    </div>
                    </div>
                </td>
                <td v-else-if="lead.buyer && lead.buyer.company" class="table__cell" v-text="lead.buyer.company.short_name"></td>
                <td v-else class="table__cell"></td>
                
                <th class="table__cell"><span :class="getStatusObject(lead.status).class" class="status flex-center" v-text="getStatusObject(lead.status).label"></span></th>
                <th class="table__cell table__cell__fix"><a :href="leadViewUrl(lead)" class="table__link"></a></th>
                </tr>

            </tbody>
            <tbody v-else class="table__body">
                <tr class="table__row">
                    <td class="table__cell" colspan="8">В данной комнате нет лидов на продажу</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>

        <!-- Desc room -->

        <div class="desc-room">
        <div class="title">
            <h4 class="title__h4">Информация о комнате</h4>
        </div>
        <div class="row fx fx-wrap">
            <div class="col-4">
            <div class="desc-room__item">
                <h5 class="title__h5">Описание целевого лида:</h5>
                <ul class="desc-room__list">
                {% if room.leadCriteria is not empty %}
                    {% for line in room.leadCriteria|split('\r\n') %}
                <li class="desc-room__list__item">{{ line }}</li>
                    {% endfor %}
                {% else %}
                <li class="desc-room__list__item">Нет описания лида</li>
                {% endif %}
                </ul>
            </div>
            </div>
            <div class="col-3">
            <div class="desc-room__item">
                <h5 class="title__h5">Стоимость лида:</h5>
                <ul class="desc-room__list">
                {% if room.leadPrice %}
                    {% if is_granted('ROLE_COMPANY') and room.hasHiddenMargin %}
                <li class="desc-room__list__item">{{ (room.leadPrice + room.hiddenMargin)|money_format }} рублей</li>
                    {% else %}
                <li class="desc-room__list__item">{{ room.leadPrice|money_format }} рублей</li>
                    {% endif %}
                {% else %}
                <li class="desc-room__list__item">Зависит от населенного пункта</li>
                {% endif %}
                <li class="desc-room__list__item">{% if not room.hideFee %}{{ fee }}% комиссия{% else %}&nbsp;{% endif %}</li>
                </ul>
            </div>
            <div class="desc-room__item">
                <h5 class="title__h5">Ср. % целевых:</h5>
                <ul class="desc-room__list">
                <li class="desc-room__list__item">56%</li>
                </ul>
            </div>
            </div>
            <div class="col-3">
            <div class="desc-room__item">
                <h5 class="title__h5">Гарантии Edward:</h5>
                <ul class="desc-room__list">
                <li class="desc-room__list__item">{% if room.platformWarranty %}Да{% else %}Нет{% endif %}</li>
                </ul>
            </div>
            <div class="desc-room__item">
                <h5 class="title__h5">Таймер комнаты:</h5>
                {% if room.timer %}
                <ul class="desc-room__list">
                <li class="desc-room__list__item">Город работы - {% if room.city is not empty %}{{ room.city.name }}{% else %}Не задан{% endif %}</li>
                {% if room.schedule is not empty %}
                    {% set schedule = room.schedule %}
                    {% set workRange = '' %}
                    {% if schedule.workTime is not empty %}
                        {% set workTime = schedule.workTime %}
                        {% set workRange = "с " ~ workTime.startAt|date('H:i') ~ " по " ~  workTime.endAt|date('H:i') %}
                    {% endif %}
                    {% set workDaysRange = [] %}
                    {% if schedule.workDays is not empty %}
                        {% set workDays = humanize_work_days(schedule.workDays) %}
                        {% for workDay in workDays %}
                            {% set workDaysRange = workDaysRange|merge([workDay]) %}
                        {% endfor %}
                    {% endif %}
                <li class="desc-room__list__item">Режим работы: {{ workRange }} {{ workDaysRange|join(", ") }} </li>
                    {% if room.executionHours is not empty %}
                <li class="desc-room__list__item">Таймер менеджера - {{ room.executionHours }} часа</li>    
                    {% endif %}
                    {% if room.leadsPerDay is not empty %}
                <li class="desc-room__list__item">Лимит заявок по таймеру - {{ room.leadsPerDay }} шт.</li>
                    {% endif %}
                {% endif %}
                </ul>
                {% endif %}
            </div>
            </div>
            <div class="col-2">
            <div class="desc-room__item">
                <h5 class="title__h5">Дата создания:</h5>
                <ul class="desc-room__list">
                <li class="desc-room__list__item">{{ room.createdAt|date_format('d.m.Y г.') }}</li>
                </ul>
            </div>
            </div>
        </div>
        </div>

        <!-- Room members -->

        <div class="room-members">
        <div class="title">
            <h4 class="title__h4">Участники комнаты</h4>
        </div>
        <div class="room-members__box fx">
            <div class="room-members__info">
            <p class="room-members__title">Вебмастера:</p>
            <p class="room-members__quantity"><span v-text="'Кол: ' + webmastersCount"></span></p>
            </div>
            <div class="room-members__user">
            <ul v-for="member in members.webmasters" class="room-members__list fx fx-wrap">
                <li class="room-members__list__item">
                    <span class="room-members__list__icon">
                    <img :src="getLogotype(member)" :alt="member.user.name"></span>
                    <p v-text="member.user.name"></p>
                </li>
            </ul>
            </div>
        </div>
        <div class="room-members__box fx">
            <div class="room-members__info">
            <p class="room-members__title">Компании:</p>
            <p class="room-members__quantity"><span v-text="'Кол: ' + companiesCount"></span></p>
            </div>
            <div class="room-members__user">
            <ul v-for="member in members.companies" class="room-members__list fx fx-wrap">
                <li class="room-members__list__item">
                    <span class="room-members__list__icon">
                        <img :src="getLogotype(member)" :alt="member.user.name">
                        <button v-if="!member.user.isOwner" @click="onRevokeMemberClick(member)" class="room-members__list__item__delete"></button>
                    </span>
                    <p v-text="member.user.name"></p>
                </li>
            </ul>
            </div>
        </div>
        </div>

        <!-- Room deactivate -->

        <div v-if="activated" class="room-deactivate">
        {% if room.isOwner(app.user) %}
            <a href="#" @click.prevent="onDeactivateClick" class="room-deactivate__btn">Деактивировать комнату</a>
        {% endif %}
        </div>
    </div>
    <!--/Content -->

    <!-- Modal assistant -->
    <div id="tutorial">
        <div class="modal modal_assistant modal_company_room_view" style="display:none;" v-show="userIsCompany && userPassTutorial == false">
            <div class="modal__box flex-center">
            <div class="modal__assistant">
                <div class="modal__assistant__body fx align-center">
                <div class="modal__assistant__icon i-lock"></div>
                <div class="modal__assistant__txt modal__assistant__txt__other">
                    <h3 class="modal__assistant__title__green">Список лидов и приглашение участника</h3>
                    <p class="modal__assistant__txt__item">Отлично, вы попали в свою первую комнату. Теперь нужно дождаться пока вебмастер загрузит в комнату первые лиды.</p>
                    <p class="modal__assistant__txt__item">Платформа будет оповещать Вас о добавлении нового лида, используя e-mail, sms или telegram (настроить отправку оповещений, вы можете в своем профиле).</p>
                    <div class="modal__assistant__advice fx align-center">
                    <span class="modal__assistant__advice__icon i-invitations"></span>
                    <p class="modal__assistant__txt__item"><b>Лиды продаются только в одни руки. Если рекламодатель №1 выкупил его, то второй рекламодатель уже не сможет с ним работать.</b></p>
                    </div>
                    <p class="modal__assistant__txt__item">Чтобы пригласить вебмастера в комнату, нажмите кнопку «Пригласить участника», которая находится сразу под названием комнаты, и отправьте ему ссылку-приглашение.</p>
                    <p class="modal__assistant__txt__item">Вебмастеру предстоит перейди по ссылке и нажать кнопку «принять приглашение».</p>
                </div>
                </div>
                <div class="modal__box__foot">
                <a href="#" @click="onBtnTutorialClick('modal_company_room_view')" class="btn btn__green text-center">Понятно <span v-text="userPassTutorial+':'+userIsCompany"></span></a>
                </div>
            </div>
            </div>
        </div>
        <div class="modal modal_assistant modal_room_view" style="display:none;" v-show="userIsCompany == false && userPassTutorial == false">
            <div class="modal__box flex-center">
            <div class="modal__assistant">
                <div class="modal__assistant__body fx align-center">
                <div class="modal__assistant__icon i-lock"></div>
                <div class="modal__assistant__txt modal__assistant__txt__other">
                    <h3 class="modal__assistant__title__green">Комната и приглашение участника</h3>
                    <p class="modal__assistant__txt__item">Отлично, вы попали в свою первую комнату. Теперь нужно добавить лида, для этого нажмите кнопку «Добавить лид» в верхней части экрана.</p>
                    <p class="modal__assistant__txt__item">После публикации, лид будет доступен для покупки всем участникам комнаты.</p>
                    <div class="modal__assistant__advice fx align-center">
                    <span class="modal__assistant__advice__icon i-invitations"></span>
                    <p class="modal__assistant__txt__item"><b>Лиды продаются только в одни руки. Если рекламодатель №1 выкупил его, то второй рекламодатель уже не сможет с ним работать.</b></p>
                    </div>
                    <p class="modal__assistant__txt__item">Чтобы пригласить рекламодателя в комнату, нажмите кнопку «Пригласить участника», которая находится сразу под названием комнаты, и отправьте ему ссылку-приглашение.</p>
                    <p class="modal__assistant__txt__item">Рекламодателю предстоит перейди по ссылке и нажать кнопку «принять приглашение».</p>
                </div>
                </div>
                <div class="modal__box__foot">
                <a href="#" @click="onBtnTutorialClick('modal_room_view')" class="btn btn__green text-center">Понятно <span v-text="userPassTutorial+':'+userIsCompany"></span></a>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/lib/vue.js') }}"></script>
    <script src="{{ asset('bundles/app/js/lib/vue-resource.js') }}"></script>
    <script src="{{ asset('bundles/app/js/lib/date.format.js') }}"></script>
    <script>
        let roomId = null;
        let roomEnabled = false;
        {%- if room -%}
            roomId = {{ room.id }};
            {%- if room.enabled -%}
                roomEnabled = true;
            {%- else -%}
                roomEnabled = false;
            {%- endif -%}
        {%- endif -%}
    </script>
    <script src="{{ asset('bundles/app/v3/js/room/view.js') }}"></script>
{% endblock %}