{% extends '@App/v3/layout_dark.html.twig' %}

{% block content %}
    <!-- Content -->

    <div id="app" class="content">

        <!-- Room -->
        
        <div class="title-panel fx fx-between">
        <div class="room-panel__box">
            <div class="title">
            <h3 class="title__h3 fx align-center">Комната #{{ room.id }} - {{ room.name }}<span class="dots dots__red"></span></h3>
            </div>
            <div class="room-panel__info fx">
            <a href="/room/{{ room.id }}/invite" class="room-panel__invite">Пригласить участника</a>
            <p class="room-panel__balance">Общий баланс покупателей: <span>{% if countCanBuy > 0 %}{{countCanBuy}} лидов{% else %}Нет покупателей{% endif %}</span></p>
            </div>
        </div>
        {% if app.user.webmaster and room.enabled %}
        <div class="room-panel__btn"><a href="{{ path('app_lead_create_form', {'room': room.id}) }}" class="btn btn__green">Добавить лид</a></div>
        {% else %}
        <div class="room-panel__btn"><span class="btn btn__grey">Добавить лид</span></div>
        {% endif %}
        </div>

        <!-- Room panel table -->
        
        <div class="row room-panel-table">
        <div class="table__box">
            <table class="table info-room__table">
            <thead class="table__head table__row_white">
                <tr>
                <th class="table__cell">Дата публикации</th>
                <th class="table__cell">Вебмастер</th>
                <th class="table__cell">Телефон</th>
                <th class="table__cell">Источник</th>
                <th class="table__cell">Компания</th>
                <th class="table__cell">Статус</th>
                <th class="table__cell table__cell__fix"></th>
                </tr>
            </thead>
            <tbody v-if="leadsCount" class="table__body">
                <tr v-for="lead in leads" class="table__row clickable-row" @click.prevent="onRowClick(lead.id)">
                <td class="table__cell" v-text="dateFormat(lead.created_at)"></td>
                <td class="table__cell" v-text="lead.user.name"></td>
                <td class="table__cell" v-text="lead.phone"></td>
                <td class="table__cell" v-text="lead.channel"></td>
                    
                
                <td v-if="'timer' in lead" class="table__cell">
                    <div class="table__timer flex-center">
                    <i class="table__timer_icon"></i>
                    <div class="table__timer__box flex-center">
                        <span class="table__timer__item">12</span>
                        <span class="table__time__dots">:</span>
                        <span class="table__timer__item">11</span>
                        <span class="table__time__dots">:</span>
                        <span class="table__timer__item">57</span>
                    </div>
                    </div>
                </td>
                <td v-else-if="lead.buyer && lead.buyer.company" class="table__cell" v-text="lead.buyer.company.short_name"></td>
                <td v-else class="table__cell"></td>
                
                <th class="table__cell"><span :class="getStatusObject(lead.status).class" class="status flex-center" v-text="getStatusObject(lead.status).label"></span></th>
                <th class="table__cell table__cell__fix"><a :href="leadViewUrl(lead)" class="table__link"></a></th>
                </tr>

            </tbody>
            <tbody v-else class="table__body">
                <tr class="table__row clickable-row" data-href="https://www.google.com/">
                    <td class="table__cell" colspan="8">В данной комнате ещё небыло лидов на продажу</td>
                </tr>
            </tbody>
                {# <div style="display:none">
                    <tr class="table__row table__row_white table__row_active clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:00</td>
                    <td class="table__cell">Nikitosik</td>
                    <td class="table__cell">+79173150878</td>
                    <td class="table__cell">Яндекс</td>
                    <td class="table__cell">
                        <div class="table__timer flex-center">
                        <i class="table__timer_icon"></i>
                        <div class="table__timer__box flex-center">
                            <span class="table__timer__item">12</span>
                            <span class="table__time__dots">:</span>
                            <span class="table__timer__item">11</span>
                            <span class="table__time__dots">:</span>
                            <span class="table__timer__item">57</span>
                        </div>
                        </div>
                    </td>
                    <th class="table__cell"><span class="status status__gray flex-center">Ожидает</span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                    </tr>
                    
                    <tr class="table__row clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:00</td>
                    <td class="table__cell">Nikitosik</td>
                    <td class="table__cell">+79173150878</td>
                    <td class="table__cell">Яндекс</td>
                    <td class="table__cell">Окна Тиссен</td>
                    <th class="table__cell"><span class="status status__yellow flex-center">В работе</span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                    </tr>
                    
                    <tr class="table__row table__row_white clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:00</td>
                    <td class="table__cell">Nikitosik</td>
                    <td class="table__cell">+79173150878</td>
                    <td class="table__cell">Яндекс</td>
                    <td class="table__cell">Окна Тиссен</td>
                    <th class="table__cell"><span class="status status__pink flex-center">Арбитраж</span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                    </tr>
                    
                    <tr class="table__row clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:00</td>
                    <td class="table__cell">Nikitosik</td>
                    <td class="table__cell">+79173150878</td>
                    <td class="table__cell">Яндекс</td>
                    <td class="table__cell">Окна Тиссен</td>
                    <th class="table__cell"><span class="status status__green flex-center">Целевой</span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                    </tr>
                    
                    <tr class="table__row table__row_white clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:00</td>
                    <td class="table__cell">Nikitosik</td>
                    <td class="table__cell">+79173150878</td>
                    <td class="table__cell">Яндекс</td>
                    <td class="table__cell">Окна Тиссен</td>
                    <th class="table__cell"><span class="status status__gray flex-center">Целевой</span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                    </tr>
                    
                    <tr class="table__row clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:00</td>
                    <td class="table__cell">Nikitosik</td>
                    <td class="table__cell">+79173150878</td>
                    <td class="table__cell">Яндекс</td>
                    <td class="table__cell">Окна Тиссен</td>
                    <th class="table__cell"><span class="status status__black flex-center">Архив</span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                    </tr>
                    
                    <tr class="table__row table__row_white clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:00</td>
                    <td class="table__cell">Nikitosik</td>
                    <td class="table__cell">+79173150878</td>
                    <td class="table__cell">Яндекс</td>
                    <td class="table__cell">Окна Тиссен</td>
                    <th class="table__cell"><span class="status status__red flex-center">Нецелевой</span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                    </tr>
                </div> #}
            </table>
        </div>
        </div>

        <!-- Desc room -->

        <div class="desc-room">
        <div class="title">
            <h4 class="title__h4">Информация о комнате</h4>
        </div>
        <div class="row fx fx-wrap">
            <div class="col-4">
            <div class="desc-room__item">
                <h5 class="title__h5">Описание целевого лида:</h5>
                <ul class="desc-room__list">
                {# TODO: прикрутить многостраничное представление #}
                {% if room.leadCriteria is not empty %}
                <li class="desc-room__list__item">{{ room.leadCriteria }}</li>
                {% else %}
                <li class="desc-room__list__item">Нет описания лида</li>
                {% endif %}
                </ul>
            </div>
            </div>
            <div class="col-3">
            <div class="desc-room__item">
                <h5 class="title__h5">Стоимость лида:</h5>
                <ul class="desc-room__list">
                {% if room.leadPrice %}
                    {% if is_granted('ROLE_COMPANY') and room.hasHiddenMargin %}
                <li class="desc-room__list__item">{{ (room.leadPrice + room.hiddenMargin)|money_format }} рублей</li>
                    {% else %}
                <li class="desc-room__list__item">{{ room.leadPrice|money_format }} рублей</li>
                    {% endif %}
                {% else %}
                <li class="desc-room__list__item">Зависит от населенного пункта</li>
                {% endif %}
                <li class="desc-room__list__item">{% if not room.hideFee %}{{ fee }}% комиссия{% else %}&nbsp;{% endif %}</li>
                </ul>
            </div>
            <div class="desc-room__item">
                <h5 class="title__h5">Ср. % целевых:</h5>
                <ul class="desc-room__list">
                <li class="desc-room__list__item">56%</li>
                </ul>
            </div>
            </div>
            <div class="col-3">
            <div class="desc-room__item">
                <h5 class="title__h5">Гарантии Edward:</h5>
                <ul class="desc-room__list">
                <li class="desc-room__list__item">{% if room.platformWarranty %}Да{% else %}Нет{% endif %}</li>
                </ul>
            </div>
            <div class="desc-room__item">
                <h5 class="title__h5">Таймер комнаты:</h5>
                {% if room.timer %}
                {# TODO: Дописать работу с таймером комнаты #}
                <ul class="desc-room__list">
                <li class="desc-room__list__item">Город работы - {% if room.city is not empty %}{{ room.city.name }}{% else %}Не задан{% endif %}</li>
                <li class="desc-room__list__item">Режим работы: с 9:00 до 18:00 пн, вт, ср, чт, пт, сб, вс</li>
                <li class="desc-room__list__item">Таймер менеджера - 23 часа</li>
                <li class="desc-room__list__item">Лимит заявок по таймеру - 100 шт.</li>
                </ul>
                {% endif %}
            </div>
            </div>
            <div class="col-2">
            <div class="desc-room__item">
                <h5 class="title__h5">Дата создания:</h5>
                <ul class="desc-room__list">
                <li class="desc-room__list__item">02.07.2019 г.</li>
                </ul>
            </div>
            </div>
        </div>
        </div>

        <!-- Room members -->

        <div class="room-members">
        <div class="title">
            <h4 class="title__h4">Участники комнаты</h4>
        </div>
        <div class="room-members__box fx">
            <div class="room-members__info">
            <p class="room-members__title">Вебмастера:</p>
            <p class="room-members__quantity"><span>Кол: 14</span></p>
            </div>
            <div class="room-members__user">
            <ul class="room-members__list fx fx-wrap">
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik выаыа...</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"></span><p>Nikitosik</p></li>
            </ul>
            </div>
        </div>
        <div class="room-members__box fx">
            <div class="room-members__info">
            <p class="room-members__title">Компании:</p>
            <p class="room-members__quantity"><span>Кол: 3</span></p>
            </div>
            <div class="room-members__user">
            <ul class="room-members__list fx fx-wrap">
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"><button class="room-members__list__item__delete"></button></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"><button class="room-members__list__item__delete"></button></span><p>Nikitosik</p></li>
                <li class="room-members__list__item"><span class="room-members__list__icon"><img src="/bundles/app/v3/img/other/user.png" alt="Img"><button class="room-members__list__item__delete"></button></span><p>Nikitosik</p></li>
            </ul>
            </div>
        </div>
        </div>

        <!-- Room deactivate -->

        <div class="room-deactivate"><a href="#" class="room-deactivate__btn">Деактивировать комнату</a></div>

    </div>
    <!--/Content -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/lib/vue.js') }}"></script>
    <script src="{{ asset('bundles/app/js/lib/vue-resource.js') }}"></script>
    <script src="{{ asset('bundles/app/js/lib/date.format.js') }}"></script>
    <script>
        let roomId = null;
        let roomEnabled = false;
        {%- if room -%}
            roomId = {{ room.id }};
            {%- if room.enabled -%}
                roomEnabled = true;
            {%- else -%}
                roomEnabled = false;
            {%- endif -%}
        {%- endif -%}
    </script>
    <script src="{{ asset('bundles/app/v3/js/room/view.js') }}"></script>
{% endblock %}