{% extends '@App/layout.html.twig' %}

{% from '@App/common_macros.html.twig' import lead_status %}

{% block content %}
    <div class="table_leads">
        {% include '@App/flash_messages.html.twig' %}
        <div class="table_leads_layout exposed_leads">
            <div class="exposed_leads_title">
                <h2>Телефония (история)</h2>
            </div>
            <div class="table_leads_block">
                {% if phoneCalls|length %}
                <table>
                    <tr>
                        <th>Дата и время</th>
                        <th>ID лида</th>
                        <th>Номер абонента</th>
                        <th>Время разговора</th>
                        <th>Списанная сумма</th>
                        <th>Статус</th>
                        <th>Запись</th>
                    </tr>
                    {% for phoneCall in phoneCalls %}
                        <tr>
                            <td>{{ phoneCall.createdAt|date_format('d.m.Y в H:i:s') }}</td>
                            <td>
                                <a class="id_lids" target="_blank" href="{{ path('app_lead_show', {'id': phoneCall.trade.leadId}) }}">#{{ phoneCall.trade.leadId }}</a>
                            </td>
                            <td>{{ phoneCall.trade.leadPhone|human_phone }}</td>
                            <td>
                                {% if phoneCall.callbacks is not empty %}
                                    {{ phoneCall.talkDuration }} сек
                                {% else %}
                                    нет
                                {% endif %}
                            </td>
                            <td>
                                {% if phoneCall.amount %}
                                    {{ phoneCall.amount|money_format }}
                                {% endif %}
                            </td>
                            <td>
                                {{ lead_status(phoneCall.trade.lead) }}
                            </td>
                            <td>
                                {% set lastCallback = phoneCall.lastCallback %}
                                {% if lastCallback is not empty and lastCallback.audioRecord %}
                                    <audio controls src="{{ lastCallback.audioRecord }}">
                                        Ваш браузер не позволяет прослушивавать аудио записи.
                                    </audio>
                                {% else %}
                                    нет записи разговора
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <div>У вас нет совершенных звонков к лидам</div>
                {% endif %}
            </div>
        </div>
        {% include '@App/block_copyright.html.twig' %}
    </div>
{% endblock %}