<div class="notice">
    <div class="notice__panel fx align-center">
        <span class="notice__name">Уведомления</span>
        <span class="notice__quantity flex-center">{{ notificationCount }}</span>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 306">
            <polygon points="270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35"/>
        </svg>
    </div>
    <div class="notice__list__box">
        <ul class="notice__list">
            {% for notification in notifications -%}
                <li class="notice__item  notifications__popup__item {{ notification.readStatus == 'NEW' ? 'notice__item_red' : '' }}" data-id="{{ notification.id }}">
                    <div class="notice__item__top fx align-center">
                        <span class="notice__item__status {{ notification.readStatus == 'NEW' ? 'notice__item__status_green' : '' }}">{{ notification.type | trans }}</span>
                        <span class="notice__item__date">{{ notification.createdAt | date("d.m.Y") }}</span>
                    </div>
                    <div class="notice__item__body">
                        {{ notification.message | raw }}
                        <button class="notice__btn notice__btn_check notifications__popup__item_read {{ notification.readStatus == 'NEW' ? 'show' : 'hide' }}" data-id="{{ notification.id }}"></button>
                        <button class="notice__btn notice__btn_refresh notifications__popup__item_unread {{ notification.readStatus == 'NEW' ?'hide' :  'show' }}" data-id="{{ notification.id }}"></button>
                    </div>
                </li>
            {%- else -%}
                <div class="notifications__popup__empty">Нет уведомлений</div>
            {%- endfor %}
        </ul>
    </div>
</div>
