{% extends '@App/layout.html.twig' %}

{%- block form_row -%}
    <div class="{{ row_class|default('office__input--item') }}">
        {{- form_label(form) -}}
        {%- if errors|length > 0 -%}
            {%- set class = 'form-input-area violation' -%}
        {%- else -%}
            {%- set class = 'form-input-area' -%}
        {%- endif -%}
        <div class="{{ class }}">
            {{- form_widget(form) -}}
        </div>
        {{- form_errors(form) -}}
    </div>
{%- endblock -%}

{%- block checkbox_row -%}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
    {{- form_label(form) -}}
{%- endblock -%}

{% form_theme form _self %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/suggestions.css') }}">
{% endblock %}

{% block content %}
    <div class="table_leads">
        <div class="table_leads_layout exposed_leads">
            <div class="exposed_leads_title">
                <h2>Настройки компании</h2>
            </div>
            <div class="company_setup">
                <div class="setup_step">
                    <span class="coverage"></span>
                    <span class="coverage_silver"></span>
                </div>
                <p>Заполните карточку организации</p>
                {{ form_start(form, {'attr': {'class': 'office-settings__office-form office', 'novalidate': true}}) }}
                    <div class="office-settings__left-side">
                        <div class="office__input--box company">
                            {{ form_row(form.inn, {
                                'label': 'ИНН',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'form__input office__input',
                                    'placeholder': 'Например: 233605110231'
                                }
                            }) }}
                            {{ form_row(form.shortName, {
                                'label': 'Краткое название организации',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'form__input office__input',
                                    'placeholder': 'Например: АН Холдинг Групп'
                                }
                            }) }}
                            {{ form_row(form.largeName, {
                                'label': 'Полное название организации',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'form__input office__input',
                                    'placeholder': 'Например: ООО АН Холдинг Групп'
                                }
                            }) }}
                            {{ form_row(form.kpp, {
                                'label': 'КПП',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'form__input office__input',
                                    'placeholder': 'Например: 645301001'
                                }
                            }) }}
                            {{ form_row(form.ogrn, {
                                'label': 'ОГРН',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'form__input office__input',
                                    'placeholder': 'Например: 307235211300011'
                                }
                            }) }}
                            {{ form_row(form.address, {
                                'label': 'Юридический адрес',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'company-main-addr-textarea autoExpand',
                                    'rows': 3,
                                    'data-min-rows': 3
                                }
                            }) }}
                            {{ form_row(form.zipcode, {
                                'label': 'Почтовый индекс',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'form__input office__input',
                                    'placeholder': 'Например: 353445'
                                }
                            }) }}
                            {% if form.storeAgree is defined %}
                                <div class="office__input--item row block-mod-15">
                                    {{ form_row(form.storeAgree, {
                                        'label': 'Я подтверждаю что контакт дал своё согласие на передачу данных третим лицам',
                                        'label_attr': {'class': 'form__label-reg'},
                                        'attr': {'class': 'checkbox'}
                                    }) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="office-settings__right-side">
                        <div class="company__logo-choose logo-choose">
                            {% if company is defined and company.logotype is not empty %}
                                <img class="logo-choose__img" src="{{ company.logotype.path|imagine_filter('logotype_202x202') }}">
                            {% else %}
                                <div class="logo-choose__img">
                                    <span class="icon-hat"></span>
                                </div>
                            {% endif %}
                            <ul class="errors mb-20">
                                {#<li>Поддерживаются только PNG изображения</li>#}
                                {#<li>Максимальный размер загружаемого изображения должен быть 1MB</li>#}
                            </ul>
                            {{ form_widget(form.uploader, {'attr': {'style': 'display:none;', 'accept': 'image/png,image/jpeg,image/pjpeg'}}) }}
                            <button class="btn-middle-green btn-middle-wide js-choice-logotype" type="button">Сменить логотип</button>
                            {{ form_widget(form.logotypePath) }}
                        </div>
                        <div class="office__input--box company pos-mod-1">
                            {{ form_row(form.accountNumber, {
                                'label': 'Расчётный счет',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'form__input office__input',
                                    'placeholder': 'Например: 40702810510000155962'
                                }
                            }) }}
                            {{ form_row(form.bik, {
                                'label': 'БИК',
                                'label_attr': {
                                    'class': 'office__label'
                                },
                                'attr': {
                                    'class': 'form__input office__input',
                                    'placeholder': 'Например: 044525974'
                                }
                            }) }}
                        </div>
                        <div class="row">
                            {{ form_widget(form.submit, {
                                'label': 'Сохранить',
                                'attr': {
                                    'class': 'btn-middle-green btn-middle-wide btn-pressed u-m-auto'
                                }
                            }) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        {% include '@App/block_copyright.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/app/js/lib/underscore-min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/backbone-min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/jquery.inputmask.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/app/js/lib/underscore.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/backbone.js') }}"></script>
        <script src="{{ asset('bundles/app/js/lib/jquery.inputmask.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/app/js/lib/jquery.suggestions.js') }}"></script>
    <script src="{{ asset('bundles/app/js/user/company.js') }}"></script>
{% endblock %}