<div class="content">
    <div class="row">
        <div class="col-12 content_box">
            <div class="content_title">
                <div class="main_title"><h1>Панель управления</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 box">
                    <div class="box_inner">
                        <h5>Лидов поступило за сегодня</h5>
                        <p>76 / 100</p>
                        <a href="#">как повысить ?</a>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="box_inner">
                        <h5>Средний % целевых лидов</h5>
                        <p>56%</p>
                        <a href="#">как считается ?</a>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <div class="box_inner">
                        <h5>Лидов поступило за сегодня</h5>
                        <p>56 лидов</p>
                        <span>47 принято | 3 холд | 16 не целевые</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 content_box room_list">
            <div class="content_title">
                <h2>Список комнат</h2>
            </div>
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <td>ID комнаты</td>
                        <td>Название комнаты</td>
                        <td>Лидов за сегодня</td>
                        <td>Ср. % целевых</td>
                        <td>Компания</td>
                        <td>Вебмастер</td>
                        <td class="state"></td>
                        <td class="last"></td>
                    </tr>
                    </thead>
                    <tbody>
                    {# тут будут строка таблицы #}
                    </tbody>
                </table>
                <div class="achtung center">
                    <p>На данный момент у нас нет созданных комнат.</p>
                    <a href="#">Создать первую комнату</a>
                </div>
            </div>
        </div>
        <div class="col-12 content_box">
            <div class="row">
                <div class="col-lg-6 last_box">
                    <div class="box">
                        <div class="content_title">
                            <h2>Поседние начисления</h2>
                        </div>
                        <div class="table">
                            <table>
                                <thead>
                                <tr>
                                    <td>Дата</td>
                                    <td>Сумма</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">190 руб.</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">190 руб.</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">190 руб.</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">190 руб.</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">190 руб.</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="more">СМОТРЕТЬ ПОЛНУЮ ДЕТАЛИЗАЦИЮ</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 last_box">
                    <div class="box">
                        <div class="content_title">
                            <h2>Последние лиды</h2>
                        </div>
                        <div class="table">
                            <table>
                                <thead>
                                <tr>
                                    <td>Дата</td>
                                    <td>Направление</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">Комната #26548</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">Биржа</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">Биржа</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">Комната #26548</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                <tr>
                                    <td>01.04.2019 в 18:56</td>
                                    <td class="total">Комната #26548</td>
                                    <td><a href="#"><img src="{{ asset('bundles/app/v2/img/icon_9.png') }}"></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="more">СМОТРЕТЬ ВСЕХ ЛИДОВ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>