{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
{% endblock %}

{%- block form_row -%}
    <div class="{{ row_class|default('office__input--item') }}">
        {{- form_label(form) -}}
        {%- if errors|length > 0 -%}
            {%- set class = 'form-input-area violation' -%}
        {%- else -%}
            {%- set class = 'form-input-area' -%}
        {%- endif -%}
        <div class="{{ class }}">
            {{- form_widget(form) -}}
        </div>
        {% if note_message is defined %}
            <div class="office__note">{{ note_message }}</div>
        {% endif %}
        {{- form_errors(form) -}}
    </div>
{%- endblock -%}

{%- block checkbox_row -%}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
    {{- form_label(form) -}}
{%- endblock -%}

{%- block _company_cities_row -%}
    {{- block('form_label') -}}
    {{- block('form_widget') -}}
{%- endblock -%}

{%- block _company_cities_entry_row -%}
    <div class="current-line current-line_item">
        {{- block('checkbox_widget') -}}
        {{- block('form_label') -}}
    </div>
{%- endblock -%}

{% form_theme form _self %}

{% block content %}
    <div class="office-settings office-set">
        <h3 class="office-settings__title">Настройки офиса</h3>
        <div class="setup_step">
            <span class="coverage"></span>
            <span class="coverage_silver"></span>
        </div>
        {{ form_start(form, {'attr': {'class': 'office-settings__office-form office block-mod-10'}}) }}
            <div class="form-column-left">
                <div class="plain__text text-mod-2">Заполните карточку офиса</div>
                <div class="office__input--box">
                    {{ form_row(form.officeName, {
                        'label': 'Название офиса',
                        'label_attr': {
                            'class': 'office__label'
                        },
                        'attr': {
                            'class': 'form__input office__input',
                            'placeholder': 'Например: ООО АН Холдинг Групп'
                        },
                        'note_message': 'произвольное название - видно только Вам'
                    }) }}
                    {{ form_row(form.officeAddress, {
                        'row_class': 'office__input--item block-mod-18',
                        'label': 'Адрес офиса',
                        'label_attr': {
                            'class': 'office__label'
                        },
                        'attr': {
                            'class': 'form__input office__input',
                            'placeholder': 'Например: Краснодар, ул. Красная'
                        }
                    }) }}
                    {{ form_row(form.officePhone, {
                        'label': 'Телефон для входящих звонков',
                        'label_attr': {
                            'class': 'office__label'
                        },
                        'attr': {
                            'class': 'form__input office__input',
                            'placeholder': 'Например: 8-800-000-00-00 или +7(900)000-00-00'
                        }
                    }) }}
                    <div class="phone_desc">
                        <div>
                            <p>После покупки лида, наша система сначала позвонит по указанному Выше номеру а следом на телефон купленного лида - тем самым соединив Ваш звонок.<br>Мы используем систему двухстороенней связи. Все разговоры будут записаны и доступны для Вас в разделе «Мои Лиды»</p>
                            <p><a href="http://wiki.edward-lead.ru/?anchor=Pokupka%20lidov">Зачем это нужно и как это работает?</a></p>
                            <p>Стоимость телефонии:</p>
                            <p>Тариф 4 руб. 00 коп. за 1 минуту разговора.<br><br>У нас действует посекундная тарификация<br>Звонки осуществляются только по территории Российской Федерации.<br>Детализация и запись разговоров будет доступна в личном кабинете.</p>
                        </div>
                    </div>
                </div>
                {{ form_widget(form.submit, {'label': 'Сохранить', 'attr': {
                    'class': 'btn btn-small btn-pressed btn-green',
                    'style': 'margin-top: 20px;margin-left: 150px;'
                }}) }}
            </div>
            <div class="form-column-right"></div>
        {{ form_end(form) }}
        {% include '@App/block_copyright.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset('bundles/app/js/lib/jquery.inputmask.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('bundles/app/js/lib/jquery.inputmask.js') }}"></script>
    {% endif %}
    <script>
        $('#company_officePhone').inputmask('(+7|8)(999)999-99-99');
    </script>
{% endblock %}