{% extends '@App/layout.html.twig' %}

{% form_theme profileForm _self %}
{% form_theme passwordForm _self %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <img src="{{ asset('bundles/app/img/error.png') }}" alt="Ошибка">
        <div class="error-note">
            {%- for error in errors -%}
                {{ error.message }}<br>
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block form_row -%}
    <div class="form__group">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock -%}

{% block content %}
    <div class="office-settings u-w-100">
        <div class="ref_programs">
            {% include '@App/flash_messages.html.twig' %}
            <h2 class="profile__head">Мой профиль</h2>
            <div class="profile-tabs">
                <div class="profile-tabs__controls">
                    <button class="profile-tabs__control selected">О себе</button>
                    <button class="profile-tabs__control">Безопасность</button>
                    <button class="profile-tabs__control">Аккаунт</button>
                    <button class="profile-tabs__control">Ключ API</button>
                    <a href="{{ path('app_logout') }}" class="profile-tabs__exit">
                        <img src="{{ asset('bundles/app/img/exit.png') }}" alt="Выйти">
                    </a>
                </div>
                <div class="profile-tabs__contents">
                    <div class="profile-tabs__content profile-tabs__content_about selected">
                        <h3 class="profile-tabs__head">Информация о пользователе</h3>
                        {{ form_start(profileForm, {'attr': {'class': 'form form__about', 'novalidate': true}}) }}
                            <div class="form__group">
                                <div class="form__label">Email:</div>
                                <div class="form__input">{{ app.user.email }}</div>
                            </div>
                            {{ form_row(profileForm.name, {'label': 'Ваше имя:', 'label_attr': {'class': 'form__label'}, 'attr': {'class': 'form__input', 'placeholder': 'пример: Иван'}}) }}
                            {{ form_row(profileForm.phone, {'label': 'Телефон:', 'label_attr': {'class': 'form__label'}, 'attr': {'class': 'form__input', 'placeholder': 'пример: +7(900)000-0000'}}) }}
                            {{ form_row(profileForm.skype, {'label': 'Skype:', 'label_attr': {'class': 'form__label'}, 'attr': {'class': 'form__input', 'placeholder': 'пример: edward'}}) }}
                            {{ form_row(profileForm.vkontakte, {'label': 'VK:', 'label_attr': {'class': 'form__label'}, 'attr': {'class': 'form__input'}}) }}
                            {{ form_row(profileForm.facebook, {'label': 'Facebook:', 'label_attr': {'class': 'form__label'}, 'attr': {'class': 'form__input'}}) }}
                            {{ form_row(profileForm.telegram, {'label': 'Telegram:', 'label_attr': {'class': 'form__label'}, 'attr': {'class': 'form__input'}}) }}
                            {{ form_widget(profileForm.submit, {'label': 'Сохранить', 'attr': {'class': 'btn form__btn'}}) }}
                        {{ form_end(profileForm) }}
                    </div>
                    <div class="profile-tabs__content profile-tabs__content_security">
                        <!-- head -->
                        <h3 class="profile-tabs__head">Безопасность аккаунта</h3>
                        <!-- enter -->
                        <p class="profile-enter">
                            <span class="profile-enter__text">Последний вход :</span>
                            <a href="{{ path('app_history_login') }}" class="profile-enter__link">Посмотреть историю активности</a>
                        </p>
                        {{ form_start(passwordForm, {'attr': {'class': 'form form_security', 'novalidate': true}}) }}
                            {{ form_row(passwordForm.password.first, {'label': 'Новый пароль:', 'label_attr': {'class': 'form__label'}, 'attr': {'class': 'form__input'}}) }}
                            {{ form_row(passwordForm.password.second, {'label': 'Ещё раз пароль:', 'label_attr': {'class': 'form__label'}, 'attr': {'class': 'form__input'}}) }}
                            {{ form_widget(passwordForm.submit, {'label': 'Сохранить', 'attr': {'class': 'btn form__btn'}}) }}
                        {{ form_end(passwordForm) }}
                    </div>
                    <div class="profile-tabs__content profile-tabs__content_delete">
                        <h3 class="profile-tabs__head">Аккаунт</h3>
                        {% if app.user.deleteRequest is empty %}
                            <p>Вы можете отправить запрос на удаление аккаунта.</p>
                            <a class="btn btn-danger" href="{{ path('app_request_delete') }}">Удалить аккаунт</a>
                        {% else %}
                            <p>Запрос на удаление ваше аккаунта в обработке</p>
                        {% endif %}
                    </div>
                    <div class="profile-tabs__content profile-tabs__content_key">
                        <h3 class="profile-tabs__head">Ключ API</h3>
                        <p class="profile-key__text">Это Ваш уникальный ключ API - никому не сообщайте его</p>
                        <p id="profile_token" class="profile-key__code">
                            {% if app.user.token is not empty %}
                                {{ app.user.token }}
                            {% else %}
                                Ключ не сгенерирован
                            {% endif %}
                        </p>
                        <button class="profile-key__link js-renew-token">Сгенерировать новый ключ API</button>
                    </div>
                </div>
            </div>
        </div>
        {% include '@App/block_copyright.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {%- if app.environment == 'prod' -%}
        <script src="{{ asset('bundles/app/js/lib/jquery.inputmask.min.js') }}"></script>
    {%- else -%}
        <script src="{{ asset('bundles/app/js/lib/jquery.inputmask.js') }}"></script>
    {%- endif -%}
    <script src="{{ asset('bundles/app/js/profile.js') }}"></script>
{% endblock %}
