{% extends '@App/Default/login.html.twig' %}

{% block signup %}
<div class="header__sign-up--box"><span class="header__text">Уже есть аккаут? </span>
    <a href="{{ path('app_login') }}" class="btn btn--blue">Войти</a>
</div>
{% endblock %}

{% block content %}
<div class="form__reg form">
    {{ form_start(form, {'attr': {'class': 'form_content', 'novalidate': true}}) }}
    <p class="form__header">Регистрация</p>
    <p class="form__text">Заполните форму ниже для регистрации на платформе Edward.</p>
    <div class="form__input--box">
        <div class="form__input--item">
            {{ form_label(form.email, null, {'label_attr': {'class': 'form__label'}}) }}
            <div class="form__input--widget">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form__input', 'placeholder': 'Введите Ваш Email' }}) }}
            </div>
        </div>
        <div class="form__input--item">
            {{ form_label(form.phone, 'Телефон', {'label_attr': {'class': 'form__label'}}) }}
            <div class="form__input--widget">
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone, {'attr': {'class': 'form__input', 'placeholder': 'Введите Ваш номер' }}) }}
            </div>
        </div>
        <div class="form__input--item">
            {{ form_label(form.name, 'Имя', {'label_attr': {'class': 'form__label'}}) }}
            <div class="form__input--widget">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form__input', 'placeholder': 'Введите Ваше имя' }}) }}
            </div>
        </div>
        <div class="form__input--item">
            {{ form_label(form.plainPassword.first, 'Пароль', {'label_attr': {'class': 'form__label'}}) }}
            <div class="form__input--widget">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form__input', 'placeholder': 'Введите пароль' }}) }}
            </div>
        </div>
        <div class="form__input--item">
            {{ form_label(form.plainPassword.second, 'Пароль', {'label_attr': {'class': 'form__label'}}) }}
            <div class="form__input--widget">
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form__input', 'placeholder': 'Введите пароль ещё раз' }}) }}
            </div>
        </div>
    </div>
    <div class="row">
        {{ form_widget(form.submit, {'label': 'Завершить регистрацию', 'attr': {'class': 'btn  btn--form btn--form-reg btn--green'}}) }}
    </div>
    <div class="row">
        {{ form_errors(form.agree) }}
        {{ form_widget(form.agree) }}
        {{ form_label(form.agree, 'Отправляя сведения через электронную форму, вы соглашаетесь с условиями оферты, даете согласие на обработку персональных данных, их сбор, хранение и передачу третьим лицам представленной вами информации на условиях.', {'label_attr': {'class': 'form__label-reg'}}) }}
        <a href="#" class="label__link" style="padding:5px 0;font-size:12px;">Политики конфиденциальности</a>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
