{% extends '@App/v3/layout_light.html.twig' %}
{% block content %}
<!-- Wrap -->

<div class="p-external__box login">

    <!-- Title -->
    <div class="title">
        <h3 class="title__h3">Вход в Edward</h3>
    </div>

    <!-- Subtxt -->
    <p class="login__subtxt">Введите свои данные, чтобы войти под своей учётной записью</p>

    <!-- Form -->
    {{ form_start(form, {'attr': {'novalidate': true,'class':'login__form fx fx-wrap row login-validation'}}) }}
        <div class="col-6">
            <div class="form__input form__input__item">
                <span class="form__input__title">E-mail:</span>
                <label class="form__input__field">
                    {{ form_row(form.email, {'label_attr': {'style': 'display:none;'}}) }}
                    <span class="form__input__surely"></span>
                </label>
            </div>
        </div>
        <div class="col-6">
            <div class="form__input form__input__item">
                <span class="form__input__title">Пароль:</span>
                <label class="form__input__field">
                    {{ form_row(form.password, {'label': 'Пароль', 'label_attr': {'style':'display:none;'}, 'attr': {'class': 'form_pass'}}) }}
                    <span class="form__input__surely"></span>
                </label>
            </div>
        </div>
        {% if error is not empty -%}
            <div class="col-12" style="color:#ff0000; text-align:center;">{{ error.message|trans }}</div>
        {%- endif %}
        <div class="col-12">
            {{ form_widget(form.submit, {'label': 'Войти в личный кабинет', 'attr': {'class': 'btn btn__green login__form__btn'}}) }}
        </div>
    {{ form_end(form) }}
    
    <!-- Restore -->
    <div class="login__restore fx fx-end">
        <a href="{{ path('app_password_reset') }}">Восстановить пароль</a>
    </div>

</div>
{% endblock %}
