{% extends "@App/v3/layout_light.html.twig" %}

{% block header_widget_content -%}
    <span>{{ 'header.no_account'|trans }}</span>
    <a href="{{ path('app_registration') }}">{{ 'header.registration'|trans }}</a>
{%- endblock %}

{% block content -%}    
    <!-- Wrap -->
    <div class="p-external__box login">

        <!-- Lagin -->
        <a href="{{ path('app_login') }}" class="login__link">{{ 'header.login'|trans }}</a>

        <!-- Title -->
        <div class="title">
            <h3 class="title__h3">Восстановление пароля</h3>
        </div>

        <!-- Subtxt -->
        <p class="login__subtxt">Придумайте новый пароль для входа на платформу</p>

        <!-- Form -->
        {{ form_start(form, {'attr':{'class':'login__form fx fx-wrap row change-password-validation'}}) }}
            <div class="col-6">
                <div class="form__input form__input__item">
                    <span class="form__input__title">Новый пароль:</span>
                    <label class="form__input__field">
                        {{ form_widget(form.password.first, {"attr":{"class":"form_pass","placeholder":"Придумайте новый пароль"}}) }}
                        <span class="form__input__surely" {% if form.password.first.vars.errors is not empty %}style="display:block;"{% endif %}></span>
                        <span style="color:red;">{{ form_errors(form.password.first) }}</span>
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="form__input form__input__item">
                    <span class="form__input__title">Еще раз:</span>
                    <label class="form__input__field">
                        {{ form_widget(form.password.second, {"attr":{"class":"form_pass1","placeholder":"Придумайте новый пароль"}}) }}
                        <span class="form__input__surely" {% if form.password.second.vars.errors is not empty %}style="display:block;"{% endif %}></span>
                        <span style="color:red;">{{ form_errors(form.password.second) }}</span>
                    </label>
                </div>
            </div>
            <div class="col-12">
                {{ form_widget(form.submit, {"label":"Сохранить пароль", "attr":{"class":"btn btn__green login__form__btn"}}) }}
            </div>
            {% if form.password.vars.errors is not empty -%}
            <div class="col-12" style="color:red;">
                {{ form_errors(form.password) }}
            </div>
            {%- endif %}
        {{ form_end(form) }}
    </div>
{%- endblock %}