{% extends "@App/v3/layout_light.html.twig" %}

{% block header_widget_content -%}
    <span>{{ 'header.no_account'|trans }}</span>
    <a href="{{ path('app_registration') }}">{{ 'header.registration'|trans }}</a>
{%- endblock %}

{% block content %}
    <!-- Wrap -->

    <div class="p-external__box pass p-external__success">

        <!-- Title -->

        <div class="title">
            <h3 class="title__h3">Восстановление пароля</h3>
        </div>

        <!-- Subtxt -->

        <p class="login__subtxt">Ваш пароль успешно изменен</p>

        <!-- Сhange-password-success -->

        <div class="change-password-success"><a href="{{path('app_login')}}" class="change-password-success__link btn btn__green">{{'header.login'|trans}}</a></div>

    </div>
{% endblock %}